.tabs {
    display: flex;
    margin-bottom: 10px;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
  }
  
  .tab.active {
    background-color: #fff;
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #ccc;
  }
.tabs2-p{ animation: fadeIn 3s; }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }