<div class="mil-top-position mil-fixed">
    <div class="mil-top-panel mil-top-panel-transparent mil-animated">
        <!-- mil-top-panel-transparent -->
        <div class="container">
            <a href="index.html" class="mil-logo" style="width: 222px"></a>
            <div class="mil-navigation">
                <nav>
                    <ul>
                        <li class="mil-has-children">
                            <a href="index.html">Home</a>
                
                        </li>
                        <li><a href="about.html">About Us</a></li>
                        <li class="mil-has-children">
                            <a href="#">Services</a>
                            <ul>
                                <li><a href="backend-development-services.html">Backend Development</a></li>
                                <li><a href="front-development-services.html">Front End Development</a></li>
                                <li><a href="cloud-services.html">Cloud Services</a></li>
                                <li><a href="database-services.html">Database Services</a></li>
                                <li><a href="collaboration-service.html">Collaboration Platform</a></li>
                            </ul>
                        </li>
                        <li class="mil-has-children"><a href="team.html">Team</a></li>
                        <li class="mil-has-children">
                            <a href="contact.html">Contact Us</a>
                        </li>
                    
                    </ul>
                
                </nav>

            </div>
            <!-- mobile menu button -->
            <div class="mil-menu-btn">
                <span></span>
            </div>
            <!-- mobile menu button end -->
        </div>
    </div>
</div>