.mil-card .mil-cover-frame img, .mil-card-2 .mil-cover-frame .blog_img {
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
    object-position: center;
    transition: .4s cubic-bezier(0, 0, .3642, 1);
}
.mil-card-2:hover .mil-cover-frame .blog_img {
    transform: scale(1.05);
    filter: grayscale(0);
}