<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
    <img src="/assets/img/deco/map.png" alt="background map" class="mil-background-image">
    <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
    <div class="mil-banner-content">
        <div class="container mil-relative">
            <ul class="mil-breadcrumbs mil-mb-30">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/frontend-development-services">Services</a></li>
            </ul>
            <h2 class="mil-uppercase">Front-End Development Services</h2>
        </div>
    </div>
</div>
<!-- banner end -->   

<!-- ??? -->
<section class="mil-p-120-60">
    <div class="container">
        <div class="mil-mb-90">
            <span class="mil-suptitle mil-suptitle-2 mil-mb-30">Our Front End Expertise</span>
            <h2 class="mil-mb-30">Front-End <span class="mil-accent"> Development Solutions </span> for Your Success</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="mil-box-center mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/20.svg" alt="Custom Website Development icon" title="Custom Website Development icon">
                    </div>
                    <h5 class="mil-mb-20">Custom Website Development</h5>
                    <p class="mil-mb-30">We specialize in creating tailored websites that meet your unique business requirements. Our team of skilled developers uses the latest technologies and  &nbsp; &nbsp; frameworks to build responsive, user-friendly, and visually stunning websites that reflect your brand identity.</p>
                    <ul class="mil-dot-list">
                        <li  class="mil-text-sm mil-bold mil-dark"></li>
                        <li class="mil-text-sm mil-bold mil-dark">React</li>
                        <li class="mil-text-sm mil-bold mil-dark">Angular</li>
                        <li class="mil-text-sm mil-bold mil-dark">Vue</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mil-box-center mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/23.svg" alt=" E-commerce Development icon" title=" E-commerce Development icon">
                    </div>
                    <h5 class="mil-mb-20"> E-commerce Development</h5>
                    <p class="mil-mb-30 ">We help businesses establish a strong online presence and drive sales through robust e-commerce solutions. From setting up secure payment gateways to creating intuitive product catalogs and shopping carts, we provide end-to-end e-commerce development services to enhance your online business.</p>
                    <ul class="mil-dot-list">
                        <li  class="mil-text-sm mil-bold mil-dark"></li>
                        <li class="mil-text-sm mil-bold mil-dark">React</li>
                        <li class="mil-text-sm mil-bold mil-dark">Angular</li>
                        <li class="mil-text-sm mil-bold mil-dark">Vue</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mil-box-center mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/21.svg" alt=" Web Application Development icon" title="Web Application Development icon">
                    </div>
                    <h5 class="mil-mb-20">Web Application Development</h5>
                    <p class="mil-mb-30">We develop scalable and feature-rich web applications tailored to your specific needs. Whether it's a customer portal, booking system, or data management tool, our team leverages modern web technologies and frameworks to create robust and high-performing web applications.</p>
                    <ul class="mil-dot-list">
                        <li  class="mil-text-sm mil-bold mil-dark"></li>
                        <li class="mil-text-sm mil-bold mil-dark">React Native</li>
                        <li class="mil-text-sm mil-bold mil-dark">Angular</li>
                        <li class="mil-text-sm mil-bold mil-dark">Vue</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mil-box-center mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/22.svg" alt="Responsive Web Design icon" title="Responsive Web Design icon">
                    </div>
                    <h5 class="mil-mb-20">Responsive Web Design</h5>
                    <p class="mil-mb-30 ">Creating websites and applications with responsive design, ensuring seamless adaptability to various devices and screen sizes. This solution guarantees an optimal user experience, regardless of the user's device or platform.</p>
                    <ul class="mil-dot-list">
                        <li  class="mil-text-sm mil-bold mil-dark"></li>
                        <li class="mil-text-sm mil-bold mil-dark">Html</li>
                        <li class="mil-text-sm mil-bold mil-dark">Css</li>
                        <li class="mil-text-sm mil-bold mil-dark">JavaScript</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mil-box-center mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/10.svg" alt="Single-Page Applications (SPAs) icon" title="Single-Page Applications (SPAs) icon">
                    </div>
                    <h5 class="mil-mb-20"> Single-Page Applications (SPAs)</h5>
                    <p class="mil-mb-30 ">Developing interactive and dynamic SPAs using modern front-end frameworks like React, Angular, or Vue.js. SPAs provide a smooth user experience, as they load content dynamically without requiring full page reloads.</p>
                    <ul class="mil-dot-list">
                        <li  class="mil-text-sm mil-bold mil-dark"></li>
                        <li class="mil-text-sm mil-bold mil-dark">React</li>
                        <li class="mil-text-sm mil-bold mil-dark">Angular</li>
                        <li class="mil-text-sm mil-bold mil-dark">Vue</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mil-box-center mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/3.svg" alt="Cross-Browser Compatibility icon" title="Cross-Browser Compatibility icon">
                    </div>
                    <h5 class="mil-mb-20">Cross-Browser Compatibility</h5>
                    <p class="mil-mb-30"> Implementing front-end solutions that work seamlessly across different web browsers, including Chrome, Firefox, Safari, and Edge. Ensuring cross-browser compatibility allows for broader accessibility and a consistent user experience across various platforms.</p>
                    <ul class="mil-dot-list">
                        <li  class="mil-text-sm mil-bold mil-dark"></li>
                        <li class="mil-text-sm mil-bold mil-dark">React Native</li>
                        <li class="mil-text-sm mil-bold mil-dark">Angular</li>
                        <li class="mil-text-sm mil-bold mil-dark">Vue</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ??? end -->


<!-- left nav tabs -->
<section class="mil-p-120-60">
    <div class="mil-deco" style="top: 0; right: 15%;"></div>
    <div class="container">

        <span class="mil-suptitle mil-suptitle-2 mil-mb-30">All Devices</span>
        <h2 class="mil-mb-90"><span class="mil-accent">End-to-End</span> Web Development Services</h2>

        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
               <app-tabs [tabsArray]="tabs" (onTabChange)="tabChange($event)"></app-tabs>
            </div>
            <div class="col-lg-6">

                <div class="swiper-container mil-tabs-slider mil-mb-60">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==0">

                            <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                                <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                    <img src="/assets/img/icons/md/13.svg" alt="UI/UX Design Planning icon" title="UI/UX Design Planning icon">
                                </div>
                                <div class="mil-mb-30">
                                    <p class=" justify-text">  Prioritize UI/UX design planning to create a visually appealing and user-friendly interface. Work with designers to develop wireframes and prototypes, incorporating feedback from stakeholders to finalize the design direction.</p>
                                </div>
                                <a routerLink="/about-us" class="mil-link"><span>See More</span><i class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                        <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==1">

                            <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                                <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                    <img src="/assets/img/icons/md/15.svg" alt="Technology Selection icon" title="Technology Selection icon">
                                </div>
                                <div class="mil-mb-30">
                                    <p  class=" justify-text">Choose appropriate front-end technologies and frameworks based on project requirements and scalability needs. Consider using popular frameworks like React, Angular, or Vue.js, depending on the complexity and interactivity of the application.</p>
                                </div>
                                <a routerLink="/about-us" class="mil-link"><span>See More</span><i class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                        <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==2">

                            <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                                <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                    <img src="/assets/img/icons/md/22.svg" alt="Responsive Design icon" title="Responsive Design icon">
                                </div>
                                <div class="mil-mb-30">
                                    <p  class=" justify-text"> Ensure the front-end is fully responsive and compatible across various devices, including desktops, tablets, and smartphones. Implement responsive design principles and thorough testing to guarantee consistent user experiences across different screen sizes.</p>
                                </div>
                                <a routerLink="/about-us" class="mil-link"><span>See More</span><i class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                        <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==3">

                            <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                                <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                    <img src="/assets/img/icons/md/4.svg" alt="Performance Optimization icon" title="Performance Optimization icon">
                                </div>
                                <div class="mil-mb-30">
                                    <p  class=" justify-text">Optimize front-end code and assets to achieve faster loading times and improved performance. Minimize file sizes, enable compression, and leverage browser caching to enhance the overall speed and responsiveness of the application.</p>
                                </div>
                                <a routerLink="/about-us" class="mil-link"><span>See More</span><i class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                        <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==4">

                            <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                                <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                    <img src="/assets/img/icons/md/10.svg" alt="Continuous Integration and Deployment (CI/CD) icon" title="Continuous Integration and Deployment (CI/CD) icon">
                                </div>
                                <div class="mil-mb-30">
                                    <p  class=" justify-text">Set up CI/CD pipelines to automate the build, testing, and deployment processes. This ensures quick and efficient updates to the front-end, fostering a faster development cycle and smoother deployment.</p>
                                </div>
                                <a routerLink="/about-us" class="mil-link"><span>See More</span><i class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                        <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==5">

                            <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                                <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                    <img src="/assets/img/icons/md/1.svg" alt="Deployment and Hosting icon" title="Deployment and Hosting icon">
                                </div>
                                <div class="mil-mb-30">
                                    <p  class=" justify-text">We take care of the deployment and hosting of your website, ensuring that it is properly configured and accessible to your target audience. We can recommend hosting solutions that meet your specific needs, ensuring security, reliability, and scalability.</p>
                                </div>
                                <a routerLink="/about-us" class="mil-link"><span>See More</span><i class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                       </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- left nav tabs end -->

<div class="container">
    <div class="mil-divider"></div>
</div>

<!-- ??? -->
<section class="mil-p-120-60">
    <div class="mil-deco" style="top: 0; right: 15%;"></div>
    <div class="container">
        <div class="mil-mb-90">
            <h2 class="mil-mb-30">Delivering <span class="mil-accent">Industry Specific</span> Web <br>App Solutions</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/23.svg" alt="E-commerce Web App Solutions icon" title="E-commerce Web App Solutions icon">
                    </div>
                    <h5 class="mil-mb-20">E-commerce Web App Solutions</h5>
                    <p class="justify-text">We specialize in creating scalable and robust e-commerce web applications tailored to your specific industry. Our solutions include online shopping platforms, inventory management systems, secure payment gateways, and personalized user experiences to drive sales and enhance customer satisfaction.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/25.svg" alt="Travel and Hospitality Web App Solutions icon" title="Travel and Hospitality Web App Solutions icon">
                    </div>
                    <h5 class="mil-mb-20">Travel and Hospitality Web App Solutions</h5>
                    <p  class="justify-text">We develop web applications for the travel and hospitality industry, including online booking platforms, hotel management systems, tour and activity booking portals, and customer loyalty programs. Our solutions drive efficiency, enhance customer experiences, and boost revenue for businesses in this sector. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/6.svg" alt="Education Web App Solutions icon" title="Education Web App Solutions icon">
                    </div>
                    <h5 class="mil-mb-20">Education Web App Solutions</h5>
                    <p  class="justify-text">We develop web applications for educational institutions that facilitate online learning, student management, course registration, and collaborative tools for educators and students. Our solutions promote engagement, efficiency, and enhanced educational experiences.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ??? end -->

<!-- portfolio -->
<app-projects></app-projects>
<!-- portfolio end -->

<div class="container">
    <div class="mil-divider"></div>
</div>

<!-- ??? -->
<section class="mil-p-120-60">
    <div class="container">

        <div class="row align-items-end mil-mb-60-adapt">
            <div class="col-md-6 col-xl-6">

                <span class="mil-suptitle mil-suptitle-2 mil-mb-30">Tech, Business and Talents</span>
                <h2 class="mil-mb-30">Next <span class="mil-accent">Gen Tech</span> For Web App Development</h2>

            </div>
            <div class="col-md-6 col-xl-6">

                <div class="mil-adaptive-right">
                    <a routerLink="/contact-us" class="mil-button mil-border mil-mb-30"><span>Contact Now</span></a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">

                <div class="mil-box-center mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/1.svg" alt="Cloud-Native icon" title="Cloud-Native icon">
                    </div>
                    <h6>Cloud-Native</h6>
                </div>

            </div>
            <div class="col-lg-3">

                <div class="mil-box-center mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/11.svg" alt="PWAs icon" title="PWAs icon">
                    </div>
                    <h6>PWAs</h6>
                </div>

            </div>
            <div class="col-lg-3">

                <div class="mil-box-center mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/2.svg" alt="SPAs icon" title="SPAs icon">
                    </div>
                    <h6>SPAs</h6>
                </div>

            </div>
            <div class="col-lg-3">

                <div class="mil-box-center mil-mb-60">
                    <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                        <img src="/assets/img/icons/md/4.svg" alt="Microservices icon" title="Microservices icon">
                    </div>
                    <h6>Microservices </h6>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ??? end -->