
<div class='bg-404' style="background-image:url(/src/assets/img/slider/04.jpg) ;">
    <div class="mil-wrapper">
      <section class="wrapper-404">
  
        <div class="container-404" #container404>
  
          <div id="scene" #scene class="scene" data-hover-only="false">
  
            <div class="circle" data-depth="1.2"></div>
            <div class="one" data-depth="0.9">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>
            <div class="two" data-depth="0.60">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>
            <div class="three" data-depth="0.40">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>
            <p class="p404" data-depth="0.50">404</p>
            <p class="p404" data-depth="0.10">404</p>
  
          </div>
  
        </div>
  
        <div class="text">
          <article>
            <p>Oops! Page not Found <br>Sorry, the page you're looking for doesn't exist.</p>
            <a href="index.html" class="mil-button mil-border mil-mb-30" style="color: #ffff; font-size:20px;">
              <span>Go to Home</span>
            </a>
          </article>
        </div>
  
      </section>
    </div>
  </div>
  