                   <!-- banner -->
                   <div class="mil-banner-sm mil-deep-bg">
                    <img src="/assets/img/deco/map.png" alt="background map" title="background map" class="mil-background-image">
                    <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
                    <div class="mil-banner-content">
                        <div class="container mil-relative">
                            <ul class="mil-breadcrumbs mil-mb-30">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="terms-conditions.html">Terms</a></li>
                            </ul>
                            <h2 class="mil-uppercase">Terms and Condition</h2>
                        </div>
                    </div>
                </div>
                <!-- banner end -->
     <!-- Details -->
     <section class="mil-p-120-120">
        <div class="container">
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
    
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30  reveal fade-left">
                            <img src="/assets/img/icons/md/10.svg" alt="Terms and Conditions icon" title="Terms and Conditions icon">
                        </div>
    
                    </div>
                    <div class="col-xl-4 reveal fade-left">
    
                        <h4 class="mil-mb-30">Terms and Conditions</h4>
    
                    </div>
                    <div class="col-xl-6">
    
                        <p class="mil-box-text mil-mb-30  reveal fade-right justify-text">
                            These Terms and Conditions ("T&C") govern your use of the Densible website ("Website") and its services. By accessing or using the Website, you agree to be bound by these T&C. If you do not agree with any part of these T&C, you must refrain from using the Website.
                            </p>
    
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
    
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30 reveal fade-left">
                            <img src="/assets/img/icons/md/10.svg" alt="Use of the Website icon" title="Use of the Website icon">
                        </div>
    
                    </div>
                    <div class="col-xl-4 reveal fade-left">
    
                        <h4 class="mil-mb-30">Use of the Website</h4>
    
                    </div>
                    <div class="col-xl-6">
    
                        <p class="mil-box-text mil-mb-30  reveal fade-right justify-text">
                            The Website and its contents are provided for informational and non-commercial purposes only. You may not use the Website for any illegal or unauthorized purpose, nor may you violate any applicable laws or regulations. 1.2 You agree not to engage in any activity that could disrupt or interfere with the proper functioning of the Website, its servers, or its networks.
                        </p>
    
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
    
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30 reveal fade-left">
                            <img src="/assets/img/icons/md/10.svg" alt="Intellectual Property icon" title="Intellectual Property icon">
                        </div>
    
                    </div>
                    <div class="col-xl-4 reveal fade-left">
    
                        <h4 class="mil-mb-30">Intellectual Property</h4>
    
                    </div>
                    <div class="col-xl-6">
    
                        <p class="mil-box-text mil-mb-30  reveal fade-right justify-text">
                            All content, trademarks, logos, and materials on the Website are the property of Densible or its respective owners and are protected by applicable intellectual property laws. 2.2 You may not copy, modify, reproduce, distribute, or transmit any content from the Website without prior written consent from Densible.
                        </p>
    
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
    
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30 reveal fade-left">
                            <img src="/assets/img/icons/md/10.svg" alt="Third-Party Links icon" title="Third-Party Links icon">
                        </div>
    
                    </div>
                    <div class="col-xl-4 reveal fade-left">
    
                        <h4 class="mil-mb-30">Third-Party Links</h4>
    
                    </div>
                    <div class="col-xl-6">
    
                        <p class="mil-box-text mil-mb-30  reveal fade-right justify-text">
                            The Website may contain links to third-party websites for your convenience or reference. Densible does not endorse, control, or monitor the content of these websites, and accessing them is at your own risk.
                              
                        </p>
    
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
    
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30 reveal fade-left">
                            <img src="/assets/img/icons/md/10.svg" alt="Disclaimer of Warranties icon" title="Disclaimer of Warranties icon">
                        </div>
    
                    </div>
                    <div class="col-xl-4   reveal fade-left">
    
                        <h4 class="mil-mb-30">Disclaimer of Warranties</h4>
    
                    </div>
                    <div class="col-xl-6">
    
                        <p class="mil-box-text mil-mb-30  reveal fade-right justify-text">
                            The Website and its content are provided on an "as is" and "as available" basis. Densible makes no representations or warranties of any kind, express or implied, regarding the accuracy, completeness, or reliability of the Website. 4.2 Densible disclaims all warranties, including but not limited to merchantability, fitness for a particular purpose, and non-infringement.
                            </p>
    
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
    
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30 reveal fade-left">
                            <img src="/assets/img/icons/md/10.svg" alt="Limitation of Liability icon" title="Limitation of Liability icon">
                        </div>
    
                    </div>
                    <div class="col-xl-4   reveal fade-left">
    
                        <h4 class="mil-mb-30">Limitation of Liability</h4>
    
                    </div>
                    <div class="col-xl-6">
    
                        <p class="mil-box-text mil-mb-30  reveal fade-right justify-text">
                            Densible and its officers, directors, employees, or agents shall not be liable for any direct, indirect, incidental, special, consequential, or exemplary damages resulting from your use of the Website or its content.
                            </p>
    
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
    
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30 reveal fade-left">
                            <img src="/assets/img/icons/md/10.svg" alt="Indemnification icon" title="Indemnification icon">
                        </div>
    
                    </div>
                    <div class="col-xl-4   reveal fade-left">
    
                        <h4 class="mil-mb-30">Indemnification</h4>
    
                    </div>
                    <div class="col-xl-6">
    
                        <p class="mil-box-text mil-mb-30  reveal fade-right justify-text">
                            You agree to indemnify and hold harmless Densible, its affiliates, and their respective officers, directors, employees, or agents from any claims, damages, liabilities, costs, or expenses arising out of your use of the Website or violation of these T&C.
                            </p>
    
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
    
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30 reveal fade-left">
                            <img src="/assets/img/icons/md/10.svg" alt="Modification of T&C icon" title="Modification of T&C icon">
                        </div>
    
                    </div>
                    <div class="col-xl-4   reveal fade-left">
    
                        <h4 class="mil-mb-30">Modification of T&C</h4>
    
                    </div>
                    <div class="col-xl-6">
    
                        <p class="mil-box-text mil-mb-30  reveal fade-right justify-text">
                            Densible reserves the right to modify these T&C at any time without prior notice. It is your responsibility to review these T&C periodically for any changes. Continued use of the Website after modifications constitutes acceptance of the updated T&C.
                            </p>
    
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
    
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30 reveal fade-left">
                            <img src="/assets/img/icons/md/10.svg" alt="Governing Law and Jurisdiction icon" title="Governing Law and Jurisdiction icon">
                        </div>
    
                    </div>
                    <div class="col-xl-4   reveal fade-left">
    
                        <h4 class="mil-mb-30">Governing Law and Jurisdiction</h4>
    
                    </div>
                    <div class="col-xl-6">
    
                        <p class="mil-box-text mil-mb-30  reveal fade-right justify-text">
                            These T&C shall be governed by and construed in accordance with the laws of [Your Jurisdiction]. Any disputes arising out of or related to the use of the Website shall be subject to the exclusive jurisdiction of the courts of [Your Jurisdiction].
                            </p>
    
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
        </div>
    </section>
    <!-- Details end -->
    
     <!-- call to action -->
            <section class="call-to-action mil-gradient-bg mil-p-120-0">
                <div class="mil-deco mil-deco-accent" style="top: 0; left: 15%;"></div>
                <div class="container mil-text-center">
                    <div class="mil-cta-frame">
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-60">
                            <img src="/assets/img/icons/md/6l.svg" alt=" Leadership Team icon" title="Leadership Team icon">
                        </div>
                        <p class="mil-light mil-mb-30">Leadership Team</p>
                        <h2 class="mil-light mil-mb-30">Let’s <span class="mil-accent">Open the World</span> of IT to You</h2>
                        <p class="mil-light-soft mil-mb-60"> If you have any questions or concerns about these T&C or the Website, please contact us </p>
                        <a href="contact.html" class="mil-button mil-border mil-light"><span>Contact Us</span></a>
                    </div>
                </div>
            </section>
            <!-- call to action end -->