<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
    <img src="/assets/img/deco/map.png" alt="background map" class="mil-background-image">
    <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
    <div class="mil-banner-content">
        <div class="container mil-relative">
            <ul class="mil-breadcrumbs mil-mb-30 ">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/blogs">Blogs</a></li>
                <li><a routerLink="/">{{breadcrumb}}</a></li>
            </ul>
            <h4>{{breadcrumb}}</h4>
        </div>
    </div>
</div>
<!-- banner end -->

<section class="mil-blog mil-mt-70-adapt">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-8 col-xl-8 mil-mb-120">
                <!-- banner -->
                <div>
                    <img src="{{blogImageUrl}}" alt="{{breadcrumb}}"
                        style="width: 100%; margin-bottom: 20px;">
                    <div class="mil-banner-content">

                    </div>
                </div>
                <!-- banner end -->
                <span class="mil-suptitle mil-accent mil-mb-30">{{stack}}</span>
                <h3 class="mil-mb-30">
                    {{title}}
                </h3>
                <!-- TODO: remove static values -->

                <ul class="mil-dot-list mil-post-info mil-text-sm mil-mb-60 blog_ul">
                    <li class="mil-post-author"><img src="{{authorPicUrl}}" alt="Author"><span>{{author}}</span>
                    </li>
                    <li>{{date}}</li>
                    <li>11 min read</li>
                </ul>
                <div [innerHTML]="sanitizeHtml(description || '')"></div>
            </div>

            <div class="col-lg-4 col-xl-3 mil-mb-120">
                <div class="mil-mb-60">
                    <h5 class="mil-list-title mil-mb-30">About Densible</h5>
                    <p class="mil-mb-30">Empowering businesses with innovative software solutions. Partner with us for
                        digital transformation and success.</p>
                    <a routerLink="/about-us" class="mil-post-sm mil-mb-15">
                        <div class="mil-cover-frame"><img src="/assets/img/faces/mujassir.jpg" alt="cover"></div>
                        <div class="mil-description">
                            <h4 class="mil-font-3 mil-accent">Mujassir Nasir</h4>
                            <p class="mil-text-sm">Co-Founder</p>
                        </div>
                    </a>
                </div>
                <div class="mil-divider mil-mb-60"></div>
                <div class="mil-mb-60">
                    <h5 class="mil-list-title mil-mb-30">Recent Posts</h5>
                  
                    <!-- Use *ngFor to iterate over the blogs array -->
                    <a *ngFor="let blog of Blogs" class="mil-post-sm mil-mb-15">
                      <div class="mil-cover-frame"><img [src]="blog.blogImageUrl" alt="cover"></div>
                      <div class="mil-description">
                        <h6><a [routerLink]="['/blogs/blogShow', blog.id]">{{blog.title}}</a></h6>
                      </div>
                    </a>
                  </div>
                <div class="mil-divider mil-mb-60"></div>
                <div class="mil-mb-60">
                    <h5 class="mil-list-title mil-mb-30">Categories</h5>
                    <ul class="mil-hover-link-list ">
                        <li *ngFor="let blog of Blogs">
                            <a>{{blog.stack}}</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="mil-divider mil-mb-60"></div>
                <div class="mil-mb-60">
                    <h5 class="mil-list-title mil-mb-30">Tags</h5>
                    <ul class="mil-tags">
                        <li *ngFor="let tag of tags.split(',')">
                            <a href="#" class="tag-link">{{ tag.trim() }}</a>
                          </li>
                    </ul>
                  </div>
                  
                  
                  
                <div class="mil-divider mil-mb-60"></div>
                <h5 class="mil-list-title mil-mb-30">Contact us</h5>
                <p class="mil-mb-30">Our experts are ready to answer your questions.</p>
                <a routerLink="/contact-us" class="mil-link mil-link-sm"><span>Send</span><i
                        class="fas fa-arrow-right"></i></a>


            </div>
        </div>
    </div>
</section>