<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
    <img src="/assets/img/deco/map.png" alt="background map" class="mil-background-image">
    <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
    <div class="mil-banner-content">
        <div class="container mil-relative">
            <ul class="mil-breadcrumbs mil-mb-30">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">Blogs</a></li>
            </ul>
            <h2 class="mil-uppercase">Experience the future of productivity and innovation</h2>
        </div>
    </div>
</div>
<!-- banner end -->

<section class="mil-works mil-p-120-90">
    <div class="mil-deco" style="top: 0; right: 40%;"></div>
    <div class="container">
        <h3 class="mil-text-center mil-mb-120">
            Empower your business with
            <span class="mil-accent">cutting-edge technology</span>
        </h3>

        <div class="row">
            <div *ngFor="let blog of Blogs" class="col-lg-6 col-md-6 col-sm-8" >

                <a [routerLink]="['/blogs', blog.link]" class="mil-card-2">
                    <div class="mil-cover-frame">
                        <img class="blog_img" [src]="blog.image" alt="project">
                    </div>
                    <div class="mil-description">
                        <ul class="mil-speakers">
                            <li class="mil-speaker">
                                <img [src]="blog.image" alt="speaker">
                            </li>
                            <!-- <li class="mil-speaker">
                                <img src="img/faces/3.jpg" alt="speaker">
                            </li> -->
                        </ul>
                        <div class="mil-card-title">
                            <p class="mil-category mil-text-sm mil-mb-15"> {{ blog.type }} </p>
                            <h4>{{ blog.title }}</h4>
                        </div>

                    </div>
                </a>

            </div>
            <div *ngFor="let blog2 of Blogs2" class="col-lg-6 col-md-6 col-sm-8" >

                <a [routerLink]="['/blogs', blog2.link]" class="mil-card-2">
                    <div class="mil-cover-frame">
                        <img class="blog_img" [src]="blog2.image" alt="project">
                    </div>
                    <div class="mil-description">
                        <ul class="mil-speakers">
                            <li class="mil-speaker">
                                <img [src]="blog2.image" alt="speaker">
                            </li>
                            <!-- <li class="mil-speaker">
                                <img src="img/faces/3.jpg" alt="speaker">
                            </li> -->
                        </ul>
                        <div class="mil-card-title">
                            <p class="mil-category mil-text-sm mil-mb-15"> {{ blog2.type }} </p>
                            <h4>{{ blog2.title }}</h4>
                        </div>

                    </div>
                </a>

            </div>
        </div>


    </div>
</section>