ol, p, ul {
    text-align: justify;
}

.mil-banner-sm {
    height: 327px !important;
    padding-top: 201px !important;
    padding-bottom: 113px !important;
}
.bg-sliver{
    background-color: #f0f0f0;
    font-size:15px ;
    padding: 2px;
}
a{
    color: #f57c00;
}