        <!-- banner -->
        <div class="mil-banner-sm mil-deep-bg">
            <img src="/assets/img/deco/map.png" alt="background map" title="background map" class="mil-background-image">
            <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
            <div class="mil-banner-content">
                <div class="container mil-relative">
                    <ul class="mil-breadcrumbs mil-mb-30">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="team.html">Team</a></li>
                    </ul>
                    <h2 class="mil-uppercase">Leadership Team</h2>
                </div>
            </div>  
        </div>
        <!-- banner end -->

        <!-- team -->
        <section class="mil-team mil-p-120-60">
            <div class="container">
                <h3 class="mil-text-center mil-mb-120">Driving Innovation with Our <span class="mil-accent">Passionate Team Members<br>Empowering</span>  Your Success</h3>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">

                        <a href="#" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="/assets/img/faces/Kashif Hanif.jpg" alt="Kashif Hanif Co-Founder Full Stack Engineer" title="Kashif Hanif Co-Founder Full Stack Engineer">
                                <div class="mil-team-circle"></div>
                            </div>
                            <h4 class="mil-mb-10">Kashif Hanif</h4>
                            <p>Co-Founder Full Stack Engineer</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-3">

                        <a href="#" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="/assets/img/faces/mujassir.jpg" alt="Mujassir Nasir Co-Founder Full Stack Engineer" title="Mujassir Nasir Co-Founder Full Stack Engineer">
                                <div class="mil-team-circle"></div>
                            </div>
                            <h4 class="mil-mb-10">Mujassir Nasir</h4>
                            <p>Co-Founder Full Stack Engineer</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-3">

                        <a href="#" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="/assets/img/faces/umer-aziz-dp.jpg" alt="Umer Aziz Co-Founder CFO" title="Umer Aziz Co-Founder CFO">
                                <div class="mil-team-circle"></div>
                            </div>
                            <h4 class="mil-mb-10">Umar Aziz</h4>
                            <p>Co-Founder CFO</p>
                        </a>

                    </div>
                   
                    <div class="col-sm-6 col-lg-3">

                        <a href="#" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="/assets/img/faces/zahid.jpeg" alt="Zahid Hamid Co-Founder SharePoint Consultant" title="Zahid Hamid Co-Founder SharePoint Consultant">
                                <div class="mil-team-circle"></div>
                            </div>
                            <h4 class="mil-mb-10">Zahid Hamid</h4>
                            <p>Co-Founder SharePoint Consultant</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-3">

                        <a href="#" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="/assets/img/faces/touqeer.png" alt="Tauqeer Abbas WordPress Guru" title="Tauqeer Abbas WordPress Guru">
                                <div class="mil-team-circle"></div>
                            </div>
                            <h4 class="mil-mb-10">Tauqeer Abbas</h4>
                            <p>WordPress Guru</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-3">

                        <a href="#" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="/assets/img/faces/waqas.jpeg" alt="Muhammad Waqas Business Development Consultant" title="Muhammad Waqas Business Development Consultant">
                                <div class="mil-team-circle"></div>
                            </div>
                            <h4 class="mil-mb-10">Muhammad Waqas</h4>
                            <p>Business Development Consultant</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-3">

                        <a href="#" class="mil-team-card mil-mb-60 mil-mb-30">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="/assets/img/faces/usama.jpeg" alt="Usama Ali Full Stack Developer " title="Usama Ali Full Stack Developer">
                                <div class="mil-team-circle"></div>
                            </div>
                            <h4 class="mil-mb-10">Usama Ali</h4>
                            <p>Full Stack Developer</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-3">

                        <a href="#" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="/assets/img/faces/abdulmoiez.jpeg" alt="Abdul Moiez Software Engineer " title="Abdul Moiez Software Engineer ">
                                <div class="mil-team-circle"></div>
                            </div>
                            <h4 class="mil-mb-10">Abdul Moiez</h4>
                            <p>Software Engineer</p>
                        </a>

                    </div>
                    <!-- <div class="col-sm-6 col-lg-3">

                        <a href="#" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="/assets/img/faces/daniyal.jpeg" alt="Daniyal Ikhlaq Software Engineer " title="Daniyal Ikhlaq Software Engineer ">
                                <div class="mil-team-circle"></div>
                            </div>
                            <h4 class="mil-mb-10">Daniyal Ikhlaq</h4>
                            <p>Software Engineer</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-3">

                        <a href="#" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="/assets/img/faces/abdulmoiez.jpeg" alt="Abdul Moiez Software Engineer " title="Abdul Moiez Software Engineer ">
                                <div class="mil-team-circle"></div>
                            </div>
                            <h4 class="mil-mb-10">Abdul Moiez</h4>
                            <p>Software Engineer</p>
                        </a>

                    </div> -->
                    
                </div>
            </div>
        </section>
        <!-- team end -->

        <div class="container">
            <div class="mil-divider"></div>
        </div>

        <!-- icon boxes -->
        <section class="mil-icon-boxes mil-p-120-60">
            <div class="container">
                <div class="row align-items-center justify-content-between mil-mb-90">
                    <div class="col-xl-6">

                        <h2>Values that <span class="mil-accent">Lead Us</span></h2>

                    </div>
                    <div class="col-xl-5">

                        <p>At our company, we are guided by a strong set of values that serve as the foundation for everything we do. These values not only shape our culture, but also guide our interactions with clients, employees, and partners.</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3">

                        <div class="mil-icon-box mil-center mil-mb-60">
                            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                                <img src="/assets/img/icons/md/5.svg" alt="Productivity icon" title="Productivity icon">
                            </div>
                            <h5 class="mil-mb-20"><span class="mil-accent">01.</span>&nbsp; Productivity</h5>
                            <p>We prioritize productivity, optimizing our work processes to deliver high-quality solutions efficiently. Our focus on productivity ensures exceptional results within specified timelines.</p>
                        </div>

                    </div>
                    <div class="col-md-6 col-xl-3">

                        <div class="mil-icon-box mil-center mil-mb-60">
                            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                                <img src="/assets/img/icons/md/5.svg" alt="Transparency icon" title="Transparency icon">
                            </div>
                            <h5 class="mil-mb-20"><span class="mil-accent">02.</span>&nbsp; Transparency</h5>
                            <p>We uphold transparency, fostering open and honest communication with clients. By keeping them informed about progress, challenges, and decisions, we build trust and collaboration throughout the project.</p>
                        </div>

                    </div>
                    <div class="col-md-6 col-xl-3">

                        <div class="mil-icon-box mil-center mil-mb-60">
                            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                                <img src="/assets/img/icons/md/5.svg" alt="Personality icon" title="Personality icon">
                            </div>
                            <h5 class="mil-mb-20"><span class="mil-accent">03.</span>&nbsp; Personality</h5>
                            <p>We embrace individuality, fostering a supportive and inclusive environment. Our team's diverse perspectives and talents shine through in the personalized solutions we deliver.</p>
                        </div>

                    </div>
                    <div class="col-md-6 col-xl-3">

                        <div class="mil-icon-box mil-center mil-mb-60">
                            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                                <img src="/assets/img/icons/md/5.svg" alt="Volition icon" title="Volition icon">
                            </div>
                            <h5 class="mil-mb-20"><span class="mil-accent">04.</span>&nbsp; Volition</h5>
                            <p>Driven by passion and purpose, we take ownership of projects and go the extra mile to achieve exceptional outcomes. Our commitment to making a positive impact sets us apart.</p>
                        </div>

                    </div>
                </div>
               
            </div>
        </section>
        <!-- icon boxes end -->

        <!-- call to action -->
        <section class="call-to-action mil-gradient-bg mil-p-120-0">
            <div class="mil-deco mil-deco-accent" style="top: 0; left: 15%;"></div>
            <div class="container mil-text-center">
                <div class="mil-cta-frame">
                    <div class="mil-icon-frame mil-icon-frame-md mil-mb-60">
                        <img src="/assets/img/icons/md/6l.svg" alt="Leadership Team icon" title="Leadership Team icon">
                    </div>
                    <p class="mil-light mil-mb-30">Leadership Team</p>
                    <h2 class="mil-light mil-mb-30">Let’s <span class="mil-accent">Open the World</span> of IT to You</h2>
                    <p class="mil-light-soft mil-mb-60">Together, we open doors to new opportunities, growth, and success in the dynamic IT landscape.</p>
                    <a href="contact.html" class="mil-button mil-border mil-light"><span>Book an Appointment</span></a>
                </div>
            </div>
        </section>
        <!-- call to action end -->
