<footer class="mil-dark-bg" style="padding-top: 30px;">
    <img src="/assets/img/deco/map.png" alt="background map" title="background map" class="mil-footer-bg">
    <div class="container">
        <div class="mil-footer-content mil-p-10-90">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-4 mil-mb-30">

                    <img src="/assets/img/logo/Densible-white.png" alt="Densible Logo" title="Densible Logo"
                        class="mil-logo mil-mb-50" style="width: 225px; height: 37px;">

                    <p class="mil-light-soft mil-mb-30 mt-30 justify-text">
                        Densible is a leading software firm dedicated to providing innovative technology
                        solutions for businesses.
                        With a team of skilled professionals and a passion for excellence, we strive to deliver
                        exceptional back-end development, front-end development, and cloud services
                    </p>
                </div>
                <div class="col-xl-7 mil-mt-60-adapt">

                    <div class="row">
                        <div class="col-lg-7 mil-mb-30">

                            <h3 class="mil-light mil-up-font mil-mb-30">Join The <span
                                    class="mil-accent">DENSIBLE</span> <br>Experience</h3>
                            <p class="mil-light-soft">
                                Unlock innovation, drive growth, and elevate your business with our
                                transformative technology
                                solutions.
                            </p>

                        </div>
                        <div class="col-lg-5 mil-mb-30">
                            <h3 class="mil-light mil-up-font mil-mb-15">Contact <span class="mil-accent">Us</span></h3>
                            <div class="mil-footer-links1">
                                <ul class="mil-social mil-light">
                                    <li class="mil-adapt-links"><a href="contact.html"><i
                                                class="fa-solid fa-map-location-dot fa-fade"></i>&nbsp&nbsp&nbsp&nbsp
                                            Address: 16, Block A1 Phase 1 Johar Town, Lahore, Punjab 54600</a>
                                    </li>
                                    <li class="mil-adapt-links"><a href="contact.html"><i
                                                class="fa-solid fa-square-phone fa-fade"></i>&nbsp&nbsp&nbsp&nbsp
                                            Phone: +92 301 445 0172</a></li>

                                </ul>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="mil-divider mil-light"></div>

        <div class="mil-footer-links">
            <ul class="mil-social mil-light">

                <li class="mil-adapt-links"><a href="https://www.linkedin.com/company/densible">LinkedIn</a><a
                        href="https://www.linkedin.com/company/densible">IN</a></li>

            </ul>
            <ul class="mil-additional-links mil-light">
                <li><a href="terms-conditions.html">Terms & Condition</a></li>
                <li><a href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
    <div class="mil-footer-bottom">
        <div class="container">
            <p class="mil-text-sm mil-light">© DENSIBLE <span id="CopyRigthDate"></span></p>
            <p class="mil-text-sm mil-light">All Rights Reserved.</p>
        </div>
    </div>
</footer>