 <!-- banner -->
 <div class="mil-banner-sm mil-deep-bg">
    <img src="/assets/img/deco/map.png" alt="background map" class="mil-background-image">
    <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
    <div class="mil-banner-content">
        <div class="container mil-relative">
            <ul class="mil-breadcrumbs mil-mb-30">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/cloud-services">Services</a></li>
            </ul>
            <h2 class="mil-uppercase">Cloud Services</h2>
        </div>
    </div>
</div>
<!-- banner end -->    
      
          <!-- ??? -->
          <section class="mil-p-120-90">
              <div class="container">
                  <h2 class="mil-mb-60">
                  Elevate Your Business with  Cloud Services , <span class="mil-accent"> <br>   Scalable Solutions for Success </span></h2> 
                      
                  <p class="mil-mb-60 justify-text">
                      Our cloud services encompass a comprehensive range of solutions, leveraging the power of Microsoft Azure
                       and Amazon Web Services (AWS). With Azure, businesses benefit from Azure Functions and App Services for
                        serverless applications, Azure Storage for secure cloud storage, Event Grid for real-time event processing, 
                        and DevOps CI/CD services for efficient software delivery. On the AWS front, we offer AWS S3 for scalable
                         object storage, AWS Lambdas for serverless computing, EventBus for seamless AWS service integration, 
                         and EC2 & ECS for scalable application deployment. Our expertise empowers businesses to embrace digital
                          transformation, unlocking scalability, flexibility, and security for seamless growth and innovation in the cloud.
                      </p>
                  <div class="row">
                      <div class="col-lg-3">
  
                          <div class="mil-hover-card mil-price-card mil-card-only-30 mil-mb-30">
                              <div class="mil-icon-box-2">
                                  <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                                      <img src="/assets/img/icons/md/17.svg" alt="Cloud Infrastructure Services icon" title="Cloud Infrastructure Services icon">
                                  </div>
                                  <div class="mil-box-text">
                                      <h6 class="mil-box-text">Cloud Infrastructure Services </h6>
                                  </div>
                              </div>
                          </div>
  
                      </div>
                      <div class="col-lg-3">
  
                          <div class="mil-hover-card mil-price-card mil-card-only-30 mil-mb-30">
                              <div class="mil-icon-box-2">
                                  <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                                      <img src="/assets/img/icons/md/18.svg" alt="Cloud Storage Solutions icon" title="Cloud Storage Solutions icon">
                                  </div>
                                  <div class="mil-box-text">
                                      <h6 class="mil-box-text">Cloud Storage Solutions</h6>
                                  </div>
                              </div>
                          </div>
  
                      </div>
                      <div class="col-lg-3">
  
                          <div class="mil-hover-card mil-price-card mil-card-only-30 mil-mb-30">
                              <div class="mil-icon-box-2">
                                  <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                                      <img src="/assets/img/icons/md/11.svg" alt="Cloud Application Development icon" title="Cloud Application Development icon">
                                  </div>
                                  <div class="mil-box-text">
                                      <h6 class="mil-box-text">Cloud Application Development</h6>
                                  </div>
                              </div>
                          </div>
  
                      </div>
                      <div class="col-lg-3">
  
                          <div class="mil-hover-card mil-price-card mil-card-only-30 mil-mb-30">
                              <div class="mil-icon-box-2">
                                  <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                                      <img src="/assets/img/icons/md/19.svg" alt="Cloud Security and Compliance icon" title="Cloud Security and Compliance icon">
                                  </div>
                                  <div class="mil-box-text">
                                      <h6 class="mil-box-text">Cloud Security and Compliance</h6>
                                  </div>
                              </div>
                          </div>
  
                      </div>
                  </div>
              </div>
          </section>
          <!-- ??? end -->

  
          <div class="container">
              <div class="mil-divider"></div>
          </div>
  
          <!-- ??? -->
          <!-- <section class="mil-p-120-90">
              <div class="mil-deco" style="top: 0; right: 20%;"></div>
              <div class="container">
                  <div class="row align-items-end mil-mb-90">
                      <div class="col-md-6 col-xl-7">
  
                          <span class="mil-suptitle mil-suptitle-2 mil-mb-30">An Ocean Data For You</span>
                          <h2>Scalable Cloud Solutions for Seamless <span class="mil-accent">Business Growth </span></h2>
  
                      </div>
                      <div class="col-md-6 col-xl-5">
  
                          <div class="mil-adaptive-right mil-mt-60-adapt">
                              <div class="mil-slider-nav">
                                  <div class="mil-slider-btn-prev mil-revi-prev"><i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span></div>
                                  <div class="mil-slider-btn-next mil-revi-next"><span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i></div>
                              </div>
                          </div>
  
                      </div>
                  </div>
                  <div class="swiper-container mil-revi-slider mil-mb-30">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
  
                              <div class="mil-hover-card">
                                  <div class="mil-deco mil-deco-accent" style="top: -10%; right: -10%;"></div>
                                  <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                                      <h3>I</h3>
                                  </div>
                                  <h5 class="mil-mb-30">Scalable Cloud Infrastructure Services</h5>
                                  <p class=" justify-text">
                                      Our scalable cloud infrastructure solutions provide a robust foundation for your digital transformation journey. With flexible and scalable infrastructure resources, businesses can efficiently handle varying workloads and rapidly expand their operations as needed.
                                      </p>
                              </div>
  
                          </div>
                          <div class="swiper-slide">
  
                              <div class="mil-hover-card">
                                  <div class="mil-deco mil-deco-accent" style="top: -10%; right: -10%;"></div>
                                  <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                                      <h3>II</h3>
                                  </div>
                                  <h5 class="mil-mb-30">Cloud Storage Solutions</h5>
                                  <p  class=" justify-text">
                                      Ensure secure and seamless data management with our cloud storage solutions. Leverage the vast storage capacities of leading cloud platforms to store and access your data efficiently. With robust security measures and redundant storage options, your critical data remains protected.
                                      </p>
                              </div>
  
                          </div>
                          <div class="swiper-slide">
  
                              <div class="mil-hover-card">
                                  <div class="mil-deco mil-deco-accent" style="top: -10%; right: -10%;"></div>
                                  <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                                      <h3>III</h3>
                                  </div>
                                  <h5 class="mil-mb-30">Cloud Application Development</h5>
                                  <p  class=" justify-text">
                                      Accelerate application development and deployment with our cloud-based solutions. Utilizing modern technologies and serverless computing, we enable the creation of high-performance and responsive applications that can scale effortlessly. 
                              </div>
  
                          </div>
                          <div class="swiper-slide">
  
                              <div class="mil-hover-card">
                                  <div class="mil-deco mil-deco-accent" style="top: -10%; right: -10%;"></div>
                                  <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                                      <h3>IV</h3>
                                  </div>
                                  <h5 class="mil-mb-30">Cloud Security and Compliance</h5>
                                  <p  class=" justify-text">
                                      Safeguard your data and applications with our comprehensive cloud security and compliance solutions. We implement industry-leading security measures, including encryption, access controls, and continuous monitoring, to protect your assets from potential threats.
                                  </p>
                              </div>
  
                          </div>
                      </div>
                  </div>
              </div>
          </section> -->
          <!-- ??? end -->
  
          <app-solutions-swiper></app-solutions-swiper>


          <div class="container">
              <div class="mil-divider"></div>
          </div>
          <app-tabs2></app-tabs2>
  
          <!-- ??? -->
          <!-- <section class="mil-p-120-120">
              <div class="mil-deco" style="top: 0; left: 15%;"></div>
              <div class="container">
  
                  <div class="mil-text-center mil-mb-90">
                      <span class="mil-suptitle mil-suptitle-2 mil-mb-30">A Great Service</span>
                      <h2 class="mil-mb-30">Supercharge  <span class="mil-accent">Your Applications</span> With</h2>
                  </div>
                  
          
                  <div class="mil-tab-buttons mil-tab-buttons-2 mil-mb-90">


                      <a href="#tab1" class="mil-active">
                          <div>
                              <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-15">
                                  <img src="/assets/img/icons/md/20.svg" alt="Azure icon" title="Azure icon">
                              </div>
                              <h6>Azure</h6>
                          </div>
                      </a>
                      <a href="#tab2">
                          <div>
                              <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-15" > 
                                  <img src="/assets/img/icons/md/21.svg" alt="AWS icon" title="AWS icon">
                              </div>
                              <h6>AWS</h6>
                          </div>
                      </a>
                  </div>
  
                  <div class="swiper-container mil-tabs-slider">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide" data-hash="tab1">
  
                              <div data-swiper-parallax-y="-100" data-swiper-parallax-opacity="0">
                                  <p  class=" justify-text">
                                      Harnessing the capabilities of Microsoft Azure, we offer a wide array of services tailored to your specific needs. Azure Functions and App Services enable the development of serverless applications and scalable APIs, ensuring optimal performance without the overhead of managing infrastructure. Azure Storage provides secure and scalable cloud storage options, allowing you to store and access data effortlessly. Event Grid enables real-time event processing and event-driven architectures, facilitating seamless communication between different components of your application. Our DevOps CI/CD services ensure efficient software delivery, automating the deployment pipeline and accelerating time-to-market with reliable and consistent releases.
                                      </p>
                              </div>
  
                          </div>
  
                          <div class="swiper-slide" data-hash="tab2">
  
                              <div data-swiper-parallax-y="-100" data-swiper-parallax-opacity="0">
                                  <p  class=" justify-text">
                                      As an AWS partner, we bring the transformative power of Amazon Web Services to businesses seeking a competitive edge. AWS S3 offers secure, durable, and scalable object storage for various data types, simplifying data management and access. AWS Lambdas provide serverless computing, enabling the execution of code without the need to manage servers, optimizing costs and resource utilization. EventBus, or Amazon EventBridge, facilitates the integration of diverse AWS services, allowing applications to respond to events efficiently. With EC2 and ECS, we enable businesses to deploy and manage scalable, flexible, and highly available applications in the AWS cloud.
                                  </p>
                              </div>
  
                          </div>
  
                      </div>
                  </div>
              </div>
          </section> -->
          <!-- ??? end -->
  
          <div class="container">
              <div class="mil-divider"></div>
          </div>
  

            <!-- left nav tabs -->
            <section class="mil-p-120-60">
                <div class="mil-deco" style="top: 0; right: 15%;"></div>
                <div class="container">
    
                    <span class="mil-suptitle mil-suptitle-2 mil-mb-30">An Ocean Data For You</span>
                    <h2 class="mil-mb-90">Our Containerized <span class="mil-accent">Ecosystem Development</span> Approach</h2>
    
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-5">

                            <app-tabs [tabsArray]="tabs" (onTabChange)="tabChange($event)"></app-tabs>
                            
                        </div>
    
                        <div class="col-lg-6">
    
                            <div class="swiper-container mil-tabs-slider mil-mb-60">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==0">
    
                                        <div data-swiper-parallax-y="-100" data-swiper-parallax-opacity="0">
                                            <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                                <img src="/assets/img/icons/md/1.svg" alt="Cloud Strategy and Consulting icon" title="Cloud Strategy and Consulting icon">
                                            </div>
                                            <p  class=" justify-text">
                                                Our end-to-end cloud services begin with a comprehensive strategy and consulting phase. We assess your business requirements, existing infrastructure, and goals to create a tailored cloud adoption plan that aligns with your objectives and maximizes ROI. 
                                             </p>
                                        </div>
    
                                    </div>
                                    <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==1" >
    
                                        <div data-swiper-parallax-y="-100" data-swiper-parallax-opacity="0">
                                            <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                                <img src="/assets/img/icons/md/15.svg" alt="Cloud Migration and Deployment icon" title="Cloud Migration and Deployment icon">
                                            </div>
                                            <p  class=" justify-text">
                                                We handle the seamless migration of your applications, data, and infrastructure to the cloud. Our experts ensure minimal downtime and data loss during the migration process, enabling a smooth transition to cloud-based environments.
                                                </p>
                                        </div>
    
                                    </div>
                                    <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==2" >
    
                                        <div data-swiper-parallax-y="-100" data-swiper-parallax-opacity="0">
                                            <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                                <img src="/assets/img/icons/md/20.svg" alt="Cloud Application Development icon" title="Cloud Application Development icon">
                                            </div>
                                            <p  class=" justify-text">
                                                Leveraging cloud-native technologies, we develop and deploy cloud-based applications that are scalable, agile, and responsive. Our expertise spans serverless computing, microservices, and containerization to ensure optimal application performance.
                                            </p>
                                        </div>
    
                                    </div>
                                    <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==3" >
    
                                        <div data-swiper-parallax-y="-100" data-swiper-parallax-opacity="0">
                                            <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                                <img src="/assets/img/icons/md/4.svg" alt="Cloud Data Management and Analytics icon" title="Cloud Data Management and Analytics icon">
                                            </div>
                                            <p  class=" justify-text">
                                                We offer comprehensive cloud data management solutions, including data storage, processing, and analytics. Harnessing cloud-based data warehouses and analytics tools, we derive valuable insights to drive data-driven decision-making.
                                            </p>
                                        </div>
    
                                    </div>
                                    <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==4" >
    
                                        <div data-swiper-parallax-y="-100" data-swiper-parallax-opacity="0">
                                            <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                                <img src="/assets/img/icons/md/19.svg" alt="Cloud Security and Compliance icon" title="Cloud Security and Compliance icon">
                                            </div>
                                            <p  class=" justify-text">
                                                Our end-to-end cloud services prioritize data security and compliance. We implement robust security measures, encryption, access controls, and continuous monitoring to protect your sensitive information and ensure compliance with industry regulations.
                                            </p>
                                        </div>
    
                                    </div>
                                    <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==5" >
    
                                        <div data-swiper-parallax-y="-100" data-swiper-parallax-opacity="0">
                                            <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                                <img src="/assets/img/icons/md/10.svg" alt="Cloud Cost Optimization icon" title="Cloud Cost Optimization icon">
                                            </div>
                                            <p  class=" justify-text">
                                                We help optimize your cloud spending by identifying cost-saving opportunities, implementing resource management strategies, and right-sizing your cloud infrastructure to align with actual usage.
    
    
                                            </p>
                                        </div>
    
                                    </div>
                                    <div class="swiper-slide fadeIn" *ngIf="activatedTabIndex ==6" >
    
                                        <div data-swiper-parallax-y="-100" data-swiper-parallax-opacity="0">
                                            <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                                <img src="/assets/img/icons/md/19.svg" alt="Cloud Backup and Disaster Recovery icon" title="Cloud Backup and Disaster Recovery icon">
                                            </div>
                                            <p  class=" justify-text">
                                                We provide robust cloud backup and disaster recovery solutions to ensure data resilience and business continuity. Your critical data and applications are protected, minimizing downtime and data loss in the event of a disaster.
    
    
                                            </p>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </section>
            <!-- left nav tabs end -->
          
          <div class="container">
              <div class="mil-divider"></div>
          </div>
  
          <!-- ??? -->
          <section class="mil-p-120-60">
             <div class="mil-deco" style="top: 0; left: 15%;"></div>
              <div class="container">
                  <div class="mil-text-center mil-mb-90">
                      <span class="mil-suptitle mil-suptitle-2 mil-mb-30">A Great Service</span>
                      <h2 class="mil-mb-30">Values That <span class="mil-accent">Lead Us</span></h2>
                  </div>
                  <div class="row">
                      <div class="col-lg-3">
                          <div class="mil-box-center mil-mb-60">
                              <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                  <h3>I</h3>
                              </div>
                              <h5 class="mil-mb-20">Productivity</h5>
                              <p>
                                  We prioritize productivity, optimizing our work processes to deliver high-quality solutions efficiently. Our focus on productivity ensures exceptional results within specified timelines.
                              </p>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="mil-box-center mil-mb-60">
                              <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                  <h3>II</h3>
                              </div>
                              <h5 class="mil-mb-20">Transparency</h5>
                              <p>
                                  We uphold transparency, fostering open and honest communication with clients. By keeping them informed about progress, challenges, and decisions, we build trust and collaboration throughout the project.
                              </p>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="mil-box-center mil-mb-60">
                              <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                  <h3>III</h3>
                              </div>
                              <h5 class="mil-mb-20">Personality</h5>
                              <p>
                                  We embrace individuality, fostering a supportive and inclusive environment. Our team's diverse perspectives and talents shine through in the personalized solutions we deliver.
                              </p>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="mil-box-center mil-mb-60">
                              <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
                                  <h3>IV</h3>
                              </div>
                              <h5 class="mil-mb-20">Volition</h5>
                              <p>
                                  Driven by passion and purpose, we take ownership of projects and go the extra mile to achieve exceptional outcomes. Our commitment to making a positive impact sets us apart.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- ??? end -->
