<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
    <img src="/assets/img/deco/map.png" alt="background map" class="mil-background-image">
    <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
    <div class="mil-banner-content">
        <div class="container mil-relative">
            <ul class="mil-breadcrumbs mil-mb-30 ">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/blogs">Blogs</a></li>
                <li><a routerLink="/">Document Approval SPFx Component</a></li>
            </ul>
            <h4>Document Approval Workflows with Field Customization</h4>
        </div>
    </div>
</div>
<!-- banner end -->

<section class="mil-blog mil-mt-70-adapt">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-8 col-xl-8 mil-mb-120">
                <!-- banner -->
                <div>
                    <img src="/assets/img/banners/share-point-banner.jpeg" alt="Document-Approval-Work-Flow"
                        style="width: 100%; margin-bottom: 20px;">
                    <div class="mil-banner-content">

                    </div>
                </div>
                <!-- banner end -->
                <span class="mil-suptitle mil-accent mil-mb-30">SharePoint</span>
                <h3 class="mil-mb-30">
                    Streamlining Document Approval Workflows in <br> SharePoint with Field Customization
                </h3>
                <ul class="mil-dot-list mil-post-info mil-text-sm mil-mb-60 blog_ul">
                    <li class="mil-post-author"><img src="/assets/img/faces/usama.jpeg" alt="Author"><span>Usama
                            Ali</span>
                    </li>
                    <li>29 Oct. 2023</li>
                    <li>11 min read</li>
                </ul>
                <div class="mil-divider mil-mb-20"></div>
                <p class="justify-text mil-mb-20">
                    In the ever-evolving landscape of enterprise document management, SharePoint stands out as a
                    powerful
                    tool for
                    collaborative work. Microsoft's SharePoint platform has been a game-changer for businesses, enabling
                    teams to
                    share, store, and manage documents efficiently. One crucial aspect of document management is the
                    approval
                    process, ensuring that critical documents receive the necessary authorization before they are shared
                    or
                    published. Enter the <strong>Document Approval Field Customizer</strong>, a remarkable solution that
                    seamlessly
                    integrates an
                    approval workflow into SharePoint document libraries, enhancing the document management experience.
                </p>
                <div class="mil-divider mil-mb-20"></div>
                <h4 class="mil-mb-10">A Glimpse into the Future: Figma Mockups</h4>
                <p class="justify-text">
                    Before we dive into the nitty-gritty of this innovative solution, let's take a quick look at the
                    future.
                    The
                    project provides Figma mockups, giving us a sneak peek into what awaits us:
                </p>
                <ul class="mil-mb-20 blog_ul">
                    <li>
                        <a href="https://tinyurl.com/Document-Approval-Wireframe" target="_blank">Approval
                            Workflow</a>
                        : A visual representation of the approval workflow's interface, showcasing its
                        user-friendly
                        design.
                    </li>
                    <li>
                        <a href="https://tinyurl.com/Document-Approval-Config-List" target="_blank">Configuration
                            List</a>
                        : An overview of the configuration list, which plays a pivotal role in customizing the
                        solution to
                        meet your
                        specific needs.
                    </li>
                </ul>
                <div class="mil-divider mil-mb-20"></div>
                <h4 class="mil-mb-10">Features That Shine</h4>
                <p class="justify-text">
                    The Document Approval Field Customizer is packed with features that elevate the document
                    approval
                    process in
                    SharePoint:
                </p>

                <ol class="mil-mb-20">
                    <li><strong>Approval Workflow Integration</strong>: Seamlessly integrate an approval process
                        into
                        SharePoint
                        document libraries. Say goodbye to manual approval tracking.</li>

                    <li><strong>Power Automate Emailing</strong>: Automated email notifications are triggered by
                        Power
                        Automate.
                        Keep
                        stakeholders informed at every step of the approval process.</li>

                    <li><strong>Granular Customization</strong>: Every organization has unique requirements. With
                        the
                        dedicated
                        configuration list, you can define the behavior of the field customizer to match your
                        precise needs.
                    </li>

                    <li><strong>Fluent UI Integration</strong>: A modern and intuitive UI ensures a smooth user
                        experience.
                        No steep
                        learning curve for your team.</li>
                </ol>
                <div class="mil-divider mil-mb-20"></div>
                <h4 class="mil-mb-10">The Technology Stack Behind the Magic</h4>
                <p>To make all of this possible, the Document Approval Field Customizer relies on a robust
                    technology stack:
                </p>
                <ul class="mil-mb-20 blog_ul">
                    <li><strong>SPFx (SharePoint Framework)</strong>: The foundation that allows for seamless
                        integration
                        with
                        SharePoint.</li>
                    <li><strong>React</strong>: The popular JavaScript library for building user interfaces.</li>
                    <li><strong>Node.js</strong>: The JavaScript runtime environment that powers the development
                        process.
                    </li>
                    <li><strong>Fluent UI</strong>: A design system for building web experiences that adhere to
                        Microsoft's
                        Fluent
                        Design Language.</li>
                </ul>
                <div class="mil-divider mil-mb-20"></div>
                <h4 class="mil-mb-10">Preparing for Success: Prerequisites</h4>
                <p>Before you can harness the power of the Document Approval Field Customizer, you need to ensure
                    your
                    environment
                    is ready. Here's what you'll need:</p>

                <ul class="mil-mb-20 blog_ul">
                    <li><strong>Node.js Installed</strong>: We recommend using the latest LTS version of Node.js.
                    </li>
                    <li><strong>SharePoint Framework Development Environment Set Up</strong>: Ensure your SharePoint
                        environment is
                        configured for development.</li>
                    <li><strong>Knowledge of React</strong>: Some UI customizations may require React expertise.
                    </li>
                </ul>
                <div class="mil-divider mil-mb-20"></div>

                <h4 class="mil-mb-10">Version Information</h4>
                <p>Let's take a moment to look at the project's version details:</p>
                <ul class="mil-mb-20">
                    <li><strong>Project Version:</strong> 0.0.1</li>
                </ul>
                <div class="row mil-mb-20">
                    <div class="col-6">
                        <strong class="mil-mb-10">Development Dependencies:</strong>
                        <ul class="blog_ul">
                            <li><strong>TypeScript</strong>: 4.5.5</li>
                            <li><strong>Gulp</strong>: 4.0.2</li>
                            <li><strong>ESLint</strong>: 8.7.0</li>
                            <li><strong>PnP JavaScript Library</strong>: ^3.17.0</li>
                            <li><strong>Fluent UI (React)</strong>: ^7.199.1</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <strong class="mil-mb-10">Key Dependencies:</strong>
                        <ul  class="blog_ul">
                            <li><strong>Node.js</strong>: >=16.13.0 &lt;17.0.0 </li>
                            <li><strong>React</strong>: 17.0.1</li>
                            <li><strong>SharePoint Framework Libraries</strong>: 1.17.4</li>
                        </ul>
                    </div>
                </div>
                <p class="mil-mb-20">
                    <em>
                        <strong>
                            Please ensure you have the right versions of the dependencies installed to avoid any
                            discrepancies while
                            building or deploying the project.
                        </strong>
                    </em>
                </p>
                <div class="mil-divider mil-mb-20"></div>
                <h4 class="mil-mb-10">The Heart of Customization: Configuration List Details</h4>
                <p class="justify-text mil-mb-10">
                    To set up the Document Approval Field Customizer to your liking, you'll be working with the
                    configuration list.
                    This
                    list is where the magic happens. Here are the columns you'll find in the configuration list:
                </p>

                <ul class="mil-mb-10 blog_ul">
                    <li><strong>Config Name</strong>: Assign a unique name for each configuration.</li>
                    <li><strong>Document Library Name</strong>: Specify the name of the SharePoint document library
                        targeted.</li>
                    <li><strong>Folder Name</strong>: Define a specific folder within the document library (if needed).
                    </li>
                    <li><strong>Drill Down Level</strong>: Set the depth level within folders for operation.</li>
                    <li><strong>Email Distribution List</strong>: Select the email recipients for Power Automate
                        notifications.</li>
                </ul>
                <p class="mil-mb-20 justify-text">
                    Your task is to populate this list with the relevant data, effectively tailoring how the field
                    customizer
                    operates for your organization's unique needs.
                </p>
                <div class="mil-divider mil-mb-20"></div>
                <h4 class="mil-mb-10">Getting Hands-On: Running Locally</h4>
                <p class="justify-text mil-mb-10">To start experimenting with the Document Approval Field Customizer,
                    follow
                    these
                    steps:</p>
                <ol class="mil-mb-20">
                    <li>
                        Clone this repository: <br>
                        <code>
                            git clone https://github.com/mujassir/Document-Approval-SPFx-Component.git
                        </code>
                    </li>
                    <li>
                        Navigate to the solution folder: <br>
                        <code>
                            cd Document-Approval-SPFx-Component
                        </code>
                    </li>
                    <li>
                        Install the dependencies: <br>
                        <code>
                            npm install
                        </code>
                    </li>
                    <li>
                        Update the page URL and column name to test in the development environment in the `serve.json`
                        file.
                        <code>
                            <pre>{{ htmlForServerConfiguration}}</pre>
                        </code>
                    </li>
                    <li>
                        To test and see your changes in a SharePoint document library: <br>
                        <code>
                            gulp serve
                        </code>
                    </li>
                </ol>
                <div class="mil-divider mil-mb-20"></div>
                <h4 class="mil-mb-10">Ready for Deployment: Package Deployment Guide</h4>

                <p class="justify-text mil-mb-10">
                    Now that you've customized the field to your liking, it's time to prepare it for deployment. Here's
                    how
                    you can
                    package and deploy the solution:
                </p>
                <h5 class="mil-mb-10">Prepare .sppkg Package File</h5>
                <p>For deploying to a SharePoint tenant, bundle and package the solution:</p>
                <code>
                    gulp build <br>
                    gulp bundle --ship <br>
                    gulp package-solution --ship <br>
                </code>
                <h5 class="mil-mb-10">Installing the .sppkg Package to the SharePoint Environment</h5>
                <p>With the package prepared, you're ready to deploy it to your SharePoint environment:</p>
                <ol class="mil-mb-20">
                    <li><strong>Open SharePoint Admin Center</strong>: Navigate to your SharePoint Admin Center. The URL
                        typically
                        looks like <strong>`https://[your-tenant-name]-admin.sharepoint.com`</strong>.</li>

                    <li><strong>Access the App Catalog</strong>: In the left-hand navigation, locate and select
                        <strong>Apps</strong> and then choose
                        <strong>App Catalog</strong>.
                    </li>

                    <li><strong>Upload the Package</strong>: Once in the App Catalog, select <strong>Distribute apps for
                            SharePoint.</strong>. From
                        there, click on <strong>New</strong> to upload a new app. Browse to your
                        <strong>`.sppkg`</strong>
                        file and
                        select to upload. You will be
                        prompted to trust the client-side solution to deploy. Click <strong>Deploy</strong>.</li>
                </ol>

                <h5 class="mil-mb-10">
                    Adding the Installed App to a SharePoint Site
                </h5>
                <p>Now that the solution is deployed, you can add it to your SharePoint site:</p>
                <ol class="mil-mb-20">
                    <li><strong>Navigate to Your Target Site</strong>: Go to the SharePoint site where you want to add
                        the
                        app.</li>

                    <li><strong>Access Site Contents</strong>: From the site homepage, click on the settings/gear icon
                        at
                        the top
                        right corner, then select <strong>Site contents</strong>.</li>

                    <li><strong>Add an App</strong>: In the site contents page, click on + <strong>New</strong> and
                        choose
                        <strong>App</strong>.
                    </li>

                    <li><strong>Install the App</strong>: You'll see a library of available apps. Look for your app
                        (it'll
                        be named
                        after your solution) and click on it. Follow the on-screen prompts to add and install the app on
                        your site.
                    </li>
                </ol>

                <h5 class="mil-mb-10">Adding the Custom Column in the Document Library</h5>
                <ol class="mil-mb-20">
                    <li><strong>Access Your Document Library</strong>: Navigate to the document library or list where
                        you
                        wish to
                        add the custom column.</li>
                    <li><strong>Go to List Settings</strong>: From the Site Contents page, click on the ellipsis
                        <strong>(`...`)</strong> next to your
                        list or library and select <strong>Settings</strong> from the dropdown menu.
                    </li>
                    <li><strong>Add from Existing Site Columns</strong>: Navigate to <strong>Columns</strong> and select
                        <strong>Add
                            from existing site
                            columns</strong>.
                    </li>
                    <li>
                        <strong>Choose the Custom Column</strong>:
                        <ul  class="blog_ul">
                            <li>Under the <strong>Select site columns</strong> from dropdown, choose <strong>SPFx
                                    Columns</strong>.
                            </li>
                            <li>From the available columns, locate and select the <strong>ApprovalStatus</strong> field
                                that
                                was
                                provisioned from the
                                solution package.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Confirm the Addition</strong>: Click <strong>OK</strong> to finalize adding the column
                        to
                        your
                        document library.
                    </li>
                </ol>
                <p class="mil-mb-20">
                    <strong>
                        <em>
                            Note: Custom columns added from a SharePoint Framework (SPFx) solution, like the
                            `ApprovalStatus`
                            column, typically provide enhanced features or visualizations compared to native SharePoint
                            columns.
                            Ensure you have the necessary permissions and have properly deployed the SPFx solution to
                            make
                            these
                            columns available for adding.
                        </em>
                    </strong>
                </p>
                <div class="mil-divider mil-mb-20"></div>
                <h3 class="mil-mb-10">Frequently Asked Questions (FAQ)</h3>
                <ng-container *ngFor="let ques of Questions">
                    <div class="mil-accordion">
                        <h6>{{ ques.question }}</h6>
                    </div>
                    <div class="mil-panel">
                        <div class="mil-window">
                            <p>{{ ques.answer }}</p>
                        </div>
                    </div>
                </ng-container>
                <div class="mil-divider mil-mb-20 mil-mt-30"></div>
                <h3 class="mil-mb-10">Contributing to a Brighter Future</h3>
                <p class="justify-text">We believe in the power of collaboration, and we welcome contributions from
                    the
                    community. If you'd like to contribute to this project, here's how you can get started:</p>
                <ol class="mil-mb-20">
                    <li> <strong>Fork the Repository</strong>: Click on the 'Fork' button at the top right corner of
                        this
                        page.</li>
                    <li><strong>Clone the Forked Repository</strong>: Clone your forked repository to your local
                        machine.
                    </li>
                    <li><strong>Create a New Branch</strong>: For each feature or improvement, create a separate
                        branch.
                    </li>
                    <li><strong>Make Changes</strong>: Make your changes and commit them with a meaningful commit
                        message.
                    </li>
                    <li><strong>Push to Your Fork</strong>: Push your changes to your fork on GitHub.</li>
                    <li><strong>Open a Pull Request</strong>: From your fork, open a pull request. Ensure you
                        provide a
                        detailed description of your changes.</li>
                    <li><strong>Review</strong>: Wait for the repository maintainers to review your changes. Address
                        any
                        feedback if required.</li>
                </ol>
                <div class="mil-divider mil-mb-20"></div>
                <h3 class="mil-mb-10">License</h3>
                <p class="justify-text mil-mb-20">This project is licensed under the <strong><u>MIT
                            License</u></strong>.</p>
                <div class="mil-divider mil-mb-20"></div>
                <h3 class="mil-mb-10">Disclaimer</h3>
                <p>
                    <strong>THIS CODE IS PROVIDED AS IS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED,
                        INCLUDING
                        ANY IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABILITY, OR
                        NON-INFRINGEMENT.</strong>
                    <br>
                    In conclusion, the Document Approval Field Customizer represents a significant leap forward in
                    streamlining document approval workflows within SharePoint. It empowers organizations to
                    efficiently
                    manage document approvals, enhances collaboration, and ensures the right documents are
                    authorized before
                    sharing. With its intuitive design and granular customization options, it's a valuable addition
                    to any
                    SharePoint environment.
                </p>
            </div>

            <div class="col-lg-4 col-xl-3 mil-mb-120">
                <div class="mil-mb-60">
                    <h5 class="mil-list-title mil-mb-30">About Densible</h5>
                    <p class="mil-mb-30">Empowering businesses with innovative software solutions. Partner with us for digital transformation and success.</p>
                    <a routerLink="/about-us" class="mil-post-sm mil-mb-15">
                        <div class="mil-cover-frame"><img src="/assets/img/faces/mujassir.jpg" alt="cover"></div>
                        <div class="mil-description">
                            <h4 class="mil-font-3 mil-accent">Mujassir Nasir</h4>
                            <p class="mil-text-sm">Co-Founder</p>
                        </div>
                    </a>
                </div>
                <!-- <div class="mil-divider mil-mb-60"></div>
                <form class="mil-sidebar-input-frame mil-mb-60">
                    <input type="text" class="mil-sidebar-input" placeholder="Search here...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form> -->
                <div class="mil-divider mil-mb-60"></div>
                <div class="mil-mb-60">
                    <h5 class="mil-list-title mil-mb-30">Recent Posts</h5>
                    <a  class="mil-post-sm mil-mb-15">
                        <div class="mil-cover-frame"><img src="/assets/img/blog/1.jpg" alt="cover"></div>
                        <div class="mil-description">
                            <h6>The World’s Fastest 2 Qubit Qate</h6>
                        </div>
                    </a>
                    <a  class="mil-post-sm mil-mb-15">
                        <div class="mil-cover-frame"><img src="/assets/img/blog/database-1.png" alt="cover"></div>
                        <div class="mil-description">
                            <h6>Build Your Money Machine, Take Control</h6>
                        </div>
                    </a>
                    <a  class="mil-post-sm mil-mb-15">
                        <div class="mil-cover-frame"><img src="/assets/img/blog/database-2.png" alt="cover"></div>
                        <div class="mil-description">
                            <h6>Android App For Shaving Products Drive</h6>
                        </div>
                    </a>
                    <a  class="mil-post-sm mil-mb-15">
                        <div class="mil-cover-frame"><img src="/assets/img/blog/database-3.jpg" alt="cover"></div>
                        <div class="mil-description">
                            <h6>Positioning Your Self As a Pro Consultant</h6>
                        </div>
                    </a>
                </div>
                <div class="mil-divider mil-mb-60"></div>
                <div class="mil-mb-60">
                    <h5 class="mil-list-title mil-mb-30">Categories</h5>
                    <ul class="mil-hover-link-list ">
                        <li>
                            <a >Business</a>
                        </li>
                        <li>
                            <a >Design</a>
                        </li>
                        <li>
                            <a >Development</a>
                        </li>
                        <li>
                            <a >Management</a>
                        </li>
                        <li>
                            <a >Software</a>
                        </li>
                    </ul>
                </div>
                <div class="mil-divider mil-mb-60"></div>
                <div class="mil-mb-60">
                    <h5 class="mil-list-title mil-mb-30">Tags</h5>
                    <ul class="mil-tags">
                        <li><a >Business</a></li>
                        <li><a >Design</a></li>
                        <li><a >General</a></li>
                        <li><a >Development</a></li>
                        <li><a >Learning</a></li>
                    </ul>
                </div>  
                <div class="mil-divider mil-mb-60"></div>
                <h5 class="mil-list-title mil-mb-30">Contact us</h5>
                <p class="mil-mb-30">Our experts are ready to answer your questions.</p>
                <a routerLink="/contact-us" class="mil-link mil-link-sm"><span>Send</span><i
                        class="fas fa-arrow-right"></i></a>

            </div>
        </div>
    </div>
</section>