<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
    <img src="/assets/img/deco/map.png" alt="background map" class="mil-background-image">
    <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
    <div class="mil-banner-content">
        <div class="container mil-relative">
            <ul class="mil-breadcrumbs mil-mb-30 ">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/careers">Careers</a></li>
                <li>Available Job</li>
            </ul>
            <h4>Business Development Executive</h4>
        </div>
    </div>
</div>
<!-- banner end -->

<section class="mil-blog mil-mt-70-adapt">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-8 col-xl-8 mil-mb-36">

                <span class="mil-suptitle mil-accent mil-mb-30">Job Description</span>
                <h3 class="mil-mb-30 reveal fade-right">
                    Company Description
                </h3>

                <div class="mil-divider mil-mb-20"></div>
                <p class="justify-text mil-mb-20">
                    Densible is seeking a motivated Business Development Executive to lead our business expansion
                    efforts.
                    The successful candidate will play a pivotal role in identifying new business opportunities,
                    building relationships with clients, and driving the growth of Densible clientele.
                    This role offers the chance to work in a dynamic and supportive environment, contribute to
                    the company's growth.
                </p>
                <div class="mil-divider mil-mb-20"></div>
                <h4 class="mil-mb-10 reveal fade-right">Key Responsibilities:</h4>

                <ol type="1" class="justify-text">
                    <li>Identify and target potential clients, generate high-quality leads through diverse sources such
                        as market
                        research, online bidding platforms, email marketing, LinkedIn, networking, cold calling, and
                        digital marketing
                        strategies to expand the client base.</li>
                    <li>Manage and optimize company profiles on platforms like Up work, LinkedIn, and other
                        industry-specific platforms
                        to enhance visibility and engagement.</li>
                    <li>Devise and implement effective bidding strategies to secure projects.</li>
                    <li>Interact with clients on bidding platforms to clarify project requirements and negotiate terms.
                    </li>
                    <li>Develop persuasive, tailored proposals outlining our services, solutions, and value proposition,
                        and create,
                        maintain, and update portfolios showcasing our company's capabilities, projects, and success
                        stories for
                        potential clients.</li>
                    <li>Conduct market research to recognize trends, competitors, and growth opportunities.</li>
                    <li>Collaborate with marketing and development teams to align strategies.</li>
                    <li>Lead and supervise a team of online bidding professionals, offering guidance, training, and
                        performance
                        evaluations.</li>
                    <li>Create detailed proposals and quotes, emphasizing the benefits and value of our solutions.</li>
                </ol>

                <div class="mil-divider mil-mb-20"></div>
                <h4 class="mil-mb-10 reveal fade-right">Qualifications:</h4>

                <ol type="1" class="justify-text">
                    <li>Bachelor's degree in business, computer science, or related field.</li>
                    <li>1 to 3 years of proven business development executive experience.</li>
                    <li>Proficiency in email marketing campaigns, cold calling, online bidding platforms, LinkedIn, and
                        other pertinent business development platforms.</li>
                    <li>Exceptional communication and negotiation skills.</li>
                </ol>

            </div>

            <div class="col-lg-4 col-xl-3 mil-mb-120">
                <div class="mil-mb-60">
                    <h5 class="mil-list-title mil-mb-30">Job Information</h5>
                    <p class="mil-mb-16 ">
                        <span class="greylight">Industry</span> <br> <span class="greyDark">IT Services</span>
                    </p>
                    <p class="mil-mb-16 ">
                        <span class="greylight">Salary</span> <br> <span class="greyDark">Market Competitive</span>
                    </p>
                    <p class="mil-mb-16 ">
                        <span class="greylight">Work Experience </span> <br> <span class="greyDark">1-3 years</span>
                    </p>
                    <p class="mil-mb-16 ">
                        <span class="greylight">Location</span> <br> <span class="greyDark">Hybrid</span>
                    </p>
                    <p class="mil-mb-16 ">
                        <span class="greylight">State/Province</span> <br> <span class="greyDark">Punjab</span>
                    </p>
                    <p class="mil-mb-16 ">
                        <span class="greylight">Country</span> <br> <span class="greyDark">Pakistan</span>
                    </p>
                    <p class="mil-mb-16 ">
                        <span class="greylight">Zip/Postal Code</span> <br> <span class="greyDark">54000</span>
                    </p>

                </div>



            </div>

        </div>
    </div>


    <!-- contact -->
    <section class="mil-contact">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-8 col-xl-8 mil-mb-120">
                    <h3 class="mil-mb-50  reveal fade-right">Unlock Your Next <span class="mil-accent">Career
                            Opportunity
                        </span> Submit Your Details and Resume Now!</h3>
                    <form [formGroup]="applicantForm" enctype="multipart/form-data">

                        <h4 class="mil-mb-60"><span class="mil-accent">01.</span> Tell Us About Yourself</h4>

                        <div class="row">
                            <div class="col-lg-6">

                                <div class="mil-input-frame mil-dark-input mil-mb-30">
                                    <label class="mil-h6 mil-dark"><span>Name</span></label>
                                    <input type="text" placeholder="John" name="Name" id="Name" formControlName="name">
                                </div>

                            </div>

                            <div class="col-lg-6">

                                <div class="mil-input-frame mil-dark-input mil-mb-30">
                                    <label class="mil-h6"><span>Email Address</span></label>
                                    <input type="email" placeholder="doe@mydomain.com" name="email" id="email"
                                        formControlName="email">
                                </div>

                            </div>
                            <div class="col-lg-6">

                                <div class="mil-input-frame mil-dark-input mil-mb-30">
                                    <label class="mil-h6"><span>Phone</span></label>
                                    <input type="number" placeholder="Enter your phone number" name="phoneNumber"
                                        id="phone" formControlName="phone">
                                </div>

                            </div>

                            <div class="col-lg-6 mil-mb-30">

                                <div class="mil-input-frame mil-dark-input mil-mb-30">
                                    <label class="mil-h6 mil-dark"><span>Previous Role</span></label>
                                    <input type="text" placeholder="Your role" name="designation" id="role"
                                        formControlName="role">
                                </div>

                            </div>
                        </div>

                        <h4 class="mil-mb-60"><span class="mil-accent">02.</span> Upload your Resume</h4>

                        <div class="row">
                            <div class="col-lg-6 mil-mb-30">

                                <div class="mil-input-frame mil-dark-input mil-mb-30">
                                    <label class="mil-h6 mil-dark"><span></span></label>
                                    <input type="file" name="resume" id="resume" (change)="onFileSelected($event) ">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit"
                                     class="mil-button mil-border mil-fw"
                                    (click)="applicantFormData()">
                                    <span *ngIf="!isLoading">Submit Now</span>
                                    <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i>
                                    </span>
                                </button>
                            </div>

                        </div>
                       
                    <!-- Toast Message -->
                    <div id="toast" *ngIf="showToast" class="show">
                        <div id="img" style="padding-top: 9px; padding-bottom: 0px;">
                            <img id="toast-icon" src="../../../../../../assets/img/icons/md/Logo icon orange 32.png"
                                alt="Densible Logo icon" title="Densible Logo icon" srcset="">
                        </div>
                        <div id="desc">{{ toastMessage }}</div>
                    </div>
                    </form>

                </div>
                <!-- <div class="col-lg-4 col-xl-3 mil-mb-120">

                    <div class="mil-mb-60">
                        <h5 class="mil-list-title mil-mb-30">Support Request</h5>
                        <p class="mil-mb-20">Our experts are ready to answer your questions.</p>
                        <a routerLink="contact-us" class="mil-link mil-link-sm"><span>Support Now</span><i
                                class="fas fa-arrow-right"></i></a>
                    </div>

                    <div class="mil-divider mil-mb-60"></div>

                    <div class="mil-mb-60">
                        <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                            <img src="/assets/img/icons/md/8.svg" alt="Need Help icon" title="Need Help icon">
                        </div>
                        <h5 class="mil-list-title mil-mb-30">Need Help?</h5>
                        <p>For technical questions or billing questions, please contact Customer Care.</p>
                    </div>


                </div> -->
            </div>
        </div>
    </section>
    <!-- contact end -->



</section>