.greylight{
    color: #8d8d8d;
    }
    .greyDark{
        color: #5a5a59;
        font-weight: 600;
    }
    .mil-mb-16{
        margin-bottom: 16px;
    }
    .mil-mb-36{
        margin-bottom: 36px;
    }
    .error-message{
        text-align: center;
        color: red;
        font-weight: 700;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

                                                        
  .fa-spinner{
    font-size: 35px;
  }