

<!-- Tech slider start  -->
<div class="Body">
    <div class="slider">
        <div class="slide-track">
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro1.png" alt="Angular">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro2.png" alt="React">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro3.png" alt="Vue">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro4.png" alt="MySql">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro5.png" alt="Node">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro9.png" alt="C-Sharp">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro10.png" alt="Microsoft .Net Core">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro 11.png" alt="Microsoft SQL Server">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro 13.png" alt="Kubernetes">
            </div>

            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro12.png" alt="Docker">
            </div>


            <!-- Double the slide -->
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro1.png" alt="Angular">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro2.png" alt="React">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro3.png" alt="Vue">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro4.png" alt="MySql">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro5.png" alt="Node">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro9.png" alt="C-Sharp">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro10.png" alt="Microsoft .Net Core">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro 11.png" alt="Microsoft SQL Server">
            </div>
            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro 13.png" alt="Kubernetes">
            </div>

            <div class="tech-slide">
                <img class="slide-img" src="/assets/img/icons/pl/pro12.png" alt="Docker">
            </div>


        </div>
    </div>

</div>
<!--Tech slider ends -->

<!-- services -->
<section class="mil-services mil-p-120-90">
    <!-- <div class="mil-deco" style="top: 0; right: 20%;"></div> -->
    <div class="container">
        <!-- <h2 class="mil-mb-30">How We Can <span class="mil-accent">Help You</span></h2> -->
        <div class="row">
            <h1 class="mil-mb-60 mil-mt-3" style="text-align: center; font-size: 35px;"> <span
                    class="mil-accent">IT</span> Services</h1>
            <div class="mil-divider mil-divider-left"></div>
            <div class="col-lg-6 col-xl-6">
                <div class="mil-service-item">
                    <div class="mil-service-icon">
                        <div class="mil-icon-frame mil-icon-frame-md reveal fade-left">
                            <a routerLink="/backend-development-services">
                                <img src="/assets/img/icons/md/20.svg" alt="backend-development-services-icon"
                                    title="backend-development-services-icon">

                            </a>
                        </div>
                    </div>
                    <div class="mil-service-text">
                        <a routerLink="/backend-development-services">

                            <h2 class="mil-mb-30 h2Style"><span class="mil-accent">01</span> Back End
                                Development</h2>
                        </a>

                        <ul class="reveal fade-bottom ">

                            <li>
                                <strong>ASP.NET Core</strong>: Robust and scalable back-end development using
                                C#, .NET Core, and .NET 6 frameworks.
                            </li>
                            <li>
                                <strong>Node.js</strong>: Efficient and scalable back-end solutions with
                                Node.js,leveraging its lightweight and real-time capabilities.Rapid
                                development of RESTful APIs and web applications using the flexible Express
                                framework for Node.js.
                            </li>

                            <li>
                                <strong>Authentication and Authorization</strong>: Secure access control to
                                protect your applications and APIs, ensuring only authorized users can access
                                sensitive data.
                            </li>
                            <li>
                                <strong>Caching and Performance Optimization</strong>: Implementation of caching
                                strategies and performance optimization techniques to enhance application speed
                                and efficiency.
                            </li>
                            <li>
                                <strong>Debugging & Troubleshooting</strong>: Expert debugging and
                                troubleshooting to identify and resolve issues, ensuring smooth operation and
                                optimal performance of back-end systems.
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="mil-divider mil-divider-right"></div>
            </div>

            <div class="col-lg-6 col-xl-6">
                <div class="mil-service-item">
                    <div class="mil-service-icon">
                        <div class="mil-icon-frame mil-icon-frame-md reveal fade-left">
                            <a routerLink="/frontend-development-services">

                                <img src="/assets/img/icons/md/22.svg" alt="icon"
                                    title=" frontend-development-services-icon">
                            </a>
                        </div>
                    </div>
                    <div class="mil-service-text">
                        <a routerLink="/frontend-development-services">

                            <h2 class="mil-mb-30 h2Style">
                                <span class="mil-accent">02</span>
                                Front End Development
                            </h2>
                        </a>
                        <ul class="reveal fade-bottom">
                            <li>
                                <strong>JavaScript</strong>: Bringing interactivity and dynamic functionality to
                                your web pages, we create smooth animations, validate forms, and handle user
                                interactions with expertise in this versatile language.
                            </li>
                            <li>
                                <strong>HTML & CSS</strong>: Building the foundation of your web applications,
                                HTML provides structure, and CSS adds visual styling, resulting in appealing and
                                responsive designs.
                            </li>
                            <li>
                                <strong>Angular</strong>: Building robust and scalable web applications, this
                                powerful front-end framework provides two-way data binding, dependency
                                injection, and component-based architecture for creating complex and
                                feature-rich applications.
                            </li>
                            <li>
                                <strong>React</strong>: Utilizing React's component-driven approach for fast and
                                efficient web applications.
                            </li>
                            <li>
                                <strong>Vue</strong>: Developing interactive and responsive user interfaces with
                                Vue.js.
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="mil-divider mil-divider-right"></div>
            </div>


            <div class="col-lg-6 col-xl-6">
                <div class="mil-service-item">
                    <div class="mil-service-icon">
                        <div class="mil-icon-frame mil-icon-frame-md reveal fade-left">
                            <a routerLink="/cloud-services">

                                <img src="/assets/img/icons/md/1.svg" alt="cloud-services-icon"
                                    title="cloud-services-icon">
                            </a>
                        </div>
                    </div>
                    <div class="mil-service-text">
                        <a routerLink="/cloud-services">

                            <h2 class="mil-mb-30 h2Style"><span class="mil-accent">03</span>Cloud Services</h2>
                        </a>
                        <ul class="reveal fade-bottom ">
                            <strong class="cloud-point">Azure</strong>
                            <li>
                                <strong>Azure Functions</strong>:Serverless computing and platform-as-a-service
                                (PaaS) capabilities for efficient application development and deployment.
                            </li>
                            <li>
                                <strong>Azure Storage</strong>: Secure and scalable cloud storage for easy data
                                management and retrieval.
                            </li>
                            <li>
                                <strong>Event Grid</strong>: Reliable event-driven messaging service for
                                building reactive applications.
                            </li>
                            <li>
                                <strong>DevOps CI/CD Services</strong>: Automated build, testing, and deployment
                                services for faster and more reliable software delivery
                            </li>
                            <strong class="cloud-point">AWS</strong>
                            <li>
                                <strong>AWS S3</strong>: Highly scalable and secure object storage for data
                                storage and retrieval.
                            </li>
                            <li>
                                <strong>AWS Lambdas</strong>: Serverless compute service for executing code in
                                response to events.
                            </li>
                            <li>
                                <strong>EventBus - Amazon </strong>: Simplifies event-driven architectures and
                                integration across AWS services.
                            </li>
                            <li>
                                <strong>EC2 & ECS</strong>: Flexible and scalable compute capacity with virtual
                                servers (EC2) and container management (ECS).
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mil-divider mil-divider-right"></div>
            </div>

            <div class="col-lg-6 col-xl-6">
                <div class="mil-service-item">
                    <div class="mil-service-icon">
                        <div class="mil-icon-frame mil-icon-frame-md reveal fade-left">
                            <a routerLink="/database-services">

                                <img src="/assets/img/icons/md/18.svg" alt="database-services-icon"
                                    title="database-services-icon">
                            </a>
                        </div>
                    </div>
                    <div class="mil-service-text">
                        <a routerLink="/database-services">
                            <h2 class="mil-mb-30 h2Style"><span class="mil-accent">04</span>Database Services
                            </h2>

                        </a>
                        <ul class="reveal fade-bottom">
                            <li>
                                <strong>Microsoft SQL Server</strong>: Robust and scalable database management
                                system for structured data.
                            </li>
                            <li>
                                <strong>MySQL</strong>: High-performance and reliable open-source relational
                                database management system.
                            </li>
                            <li>
                                <strong>PostgreSQL</strong>: Feature-rich open-source RDBMS with flexibility and
                                advanced data types.
                            </li>
                            <li>
                                <strong>Azure SQL</strong>: Fully managed database service in the Microsoft
                                Azure cloud environment.
                            </li>
                            <li>
                                <strong>Stored Procedure Development</strong>: Creation of pre-compiled database
                                programs for enhanced performance and security.
                            </li>
                            <li>
                                <strong>Query Optimization</strong>: We optimize database queries to improve
                                their performance and efficiency. By analyzing query execution plans and
                                applying performance tuning techniques.
                            </li>
                            <li>
                                <strong>Database Design & Modeling</strong>: We provide expertise in database
                                design and modeling, ensuring that your databases are structured efficiently to
                                meet your application's requirements.
                            </li>
                            <li>
                                <strong>Database Performance Tuning</strong>: Our database services encompass
                                performance tuning, where we analyze and optimize the overall performance of
                                your database system.
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="mil-divider mil-divider-right"></div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="mil-service-item">
                    <div class="mil-service-icon">
                        <div class="mil-icon-frame mil-icon-frame-md reveal fade-left">
                            <a routerLink="/collaboration-service">

                                <img src="/assets/img/icons/md/3.svg" alt="collaboration-service-icon"
                                    title="collaboration-service-icon">
                            </a>
                        </div>
                    </div>
                    <div class="mil-service-text">
                        <a routerLink="/collaboration-service">

                            <h2 class="mil-mb-30 h2Style"><span class="mil-accent">05</span>SharePoint</h2>
                        </a>
                        <ul class="reveal fade-bottom">
                            <li>
                                <strong>Out of the box customization and development</strong>: Tailoring
                                SharePoint to your specific needs with customized solutions.
                            </li>
                            <li>
                                <strong>SharePoint Framework (SPFx) & Add-ins</strong>: Extending SharePoint's
                                functionality with modern applications and integrations.
                            </li>
                            <li>
                                <strong>Power Apps</strong>: Creating user-friendly custom applications directly
                                within SharePoint.
                            </li>
                            <li>
                                <strong>Workflow Development</strong>: Designing and automating business
                                processes for improved efficiency.
                            </li>
                            <li>
                                <strong>Content Management & Data Migration</strong>: Organizing content and
                                facilitating smooth data migration within SharePoint.
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="mil-divider mil-divider-right"></div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="mil-service-item">
                    <div class="mil-service-icon">
                        <div class="mil-icon-frame mil-icon-frame-md reveal fade-left">
                            <a routerLink="/collaboration-service">

                                <img src="/assets/img/icons/md/6.svg" alt="collaboration-service-icon"
                                    title="collaboration-service-icon">
                            </a>
                        </div>
                    </div>
                    <div class="mil-service-text">
                        <a routerLink="/collaboration-service">

                            <h2 class="mil-mb-30 h2Style"><span class="mil-accent">06</span>Umbraco</h2>
                        </a>
                        <ul class="reveal fade-bottom">
                            <li>
                                <strong>Website development</strong>: We provide Umbraco services for building
                                dynamic and visually appealing websites.
                            </li>
                            <li>
                                <strong>Custom components, dashboards, and APIs</strong>: Our Umbraco services
                                include developing custom components, interactive dashboards, and APIs to extend
                                the functionality of your Umbraco-based website.
                            </li>
                            <li>
                                <strong>Umbraco Migration, Support, and Maintenance</strong>: Umbraco is a
                                secure CMS, which means that it offers a variety of security features to protect
                                your data. This makes it a good choice for businesses that need a CMS that can
                                be trusted with their sensitive data.
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="mil-divider mil-divider-right"></div>
            </div>

        </div>
    </div>
</section>
<!-- services end -->


<!-- portfolio -->
<!-- <section class="mil-works mil-p-120-90">
    <div class="mil-deco" style="top: 0; right: 40%;"></div>
    <div class="container">
        <div class="row align-items-center mil-mb-60-adapt">
            <div class="col-md-6 col-xl-6">

                <h2 class="mil-mb-30">Latest Projects</h2>

            </div>
            <div class="col-md-6 col-xl-6">

                <div class="mil-adaptive-right">
                    <div class="mil-slider-nav mil-mb-30">
                        <div class="mil-slider-btn-prev mil-works-prev"><i class="fas fa-arrow-left"></i><span
                                class="mil-h6">Prev</span></div>
                        <div class="mil-slider-btn-next mil-works-next"><span class="mil-h6">Next</span><i
                                class="fas fa-arrow-right"></i></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="swiper-container mil-works-slider mil-mb-project">
            <div class="swiper-wrapper">
                <div class="swiper-slide project-container">

                    <a routerLink="#" class="mil-card">
                        <div class="mil-cover-frame">
                            <img src="/assets/img/projects/project-1.png"
                                alt="Team Suite (Human Capital Management Solution)"
                                title="Team Suite (Human Capital Management Solution)">
                        </div>
                        <div class="mil-description">
                            <div class="mil-card-title">
                                <h4 class="mil-mb-20">Team Suite (Human Capital Management Solution)</h4>
                                <p>
                                    Team Suite, is a new-age Human Capital Management Solution combining the
                                    strengths of Cloud and Mobility.
                                </p>
                            </div>

                        </div>
                    </a>

                </div>
                <div class="swiper-slide project-container">

                    <a routerLink="#" class="mil-card">
                        <div class="mil-cover-frame">
                            <img src="/assets/img/projects/project-2.png" alt="CORN POS" title="CORN POS">
                        </div>
                        <div class="mil-description">
                            <div class="mil-card-title">
                                <h4 class="mil-mb-20">CORN POS</h4>
                                <p>
                                    CORN POS is a comprehensive point of sale system in Pakistan, it's Simple,
                                    Quick & Scalable.
                                </p>
                            </div>

                        </div>
                    </a>

                </div>
                <div class="swiper-slide project-container">

                    <a routerLink="#" class="mil-card">
                        <div class="mil-cover-frame">
                            <img src="/assets/img/projects/project-5-1.png" alt="HIMS (Health Care System)"
                                title="HIMS (Health Care System)">
                        </div>
                        <div class="mil-description">
                            <div class="mil-card-title">
                                <h4 class="mil-mb-20">HIMS (Health Care System)</h4>
                                <p>
                                    A patient registration system is used to maintain demographic information of
                                    patients.
                                </p>
                            </div>

                        </div>
                    </a>

                </div>
                <div class="swiper-slide project-container">

                    <a routerLink="#" class="mil-card">
                        <div class="mil-cover-frame">
                            <img src="/assets/img/projects/project-4-3.png" alt="Dashboard & Analytical Reports"
                                title="Dashboard & Analytical Reports">
                        </div>
                        <div class="mil-description">
                            <div class="mil-card-title">
                                <h4 class="mil-mb-20">Dashboard & Analytical Reports</h4>
                                <p>
                                    The system integrates with three hospital databases and supports multiple
                                    databases within one application.
                                </p>
                            </div>

                        </div>
                    </a>

                </div>
                <div class="swiper-slide project-container">

                    <a routerLink="#" class="mil-card">
                        <div class="mil-cover-frame">
                            <img src="/assets/img/projects/project-3.png" alt="HIMS (Health Care System)"
                                title="HIMS (Health Care System)">
                        </div>
                        <div class="mil-description">
                            <div class="mil-card-title">
                                <h4 class="mil-mb-20">HIMS (Health Care System)</h4>
                                <p>
                                    A patient registration system is used to maintain demographic information of
                                    patients. The emergency/triage module is used to manage emergency patients.
                                    The outpatient department manages scheduling and treatment of
                                    non-hospitalized patients.
                                </p>
                            </div>

                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="row align-items-center" style="padding-top: 45px;">
            <div class="col-md-6 col-xl-6">

                <a routerLink="#" class="mil-link mil-mb-30"><span>View All Cases</span><i class="fas fa-arrow-right"></i></a>

            </div>
            <div class="col-md-6 col-xl-6">

                <div class="mil-adaptive-right">
                    <a routerLink="/contact-us" class="mil-button mil-border mil-mb-30"><span>Get Started</span></a>
                </div>

            </div>
        </div>
    </div>
</section> -->
<!-- portfolio end -->

<!-- <section class="mil-works mil-p-120">
    <div class="mil-deco" style="top: 0; right: 40%;"></div>
    <section class="container">
        <div class="row align-items-center mil-mb-60-adapt">
            <div class="col-md-10 col-xl-10">

                <h2 class="mil-mb-30">Latest Projects</h2>

            </div>
            <div class="col-md-2 col-xl-2">

                <div class="mil-adaptive-right">
                    <div class="mil-slider-nav mil-mb-30">
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                    </div>
                </div>

            </div>
           
        </div>
    </section>
</section> -->
<!-- <section class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper">
            <div class="card">
              <img src="/assets/img/projects/project-1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Team Suite (Human Capital Management Solution)</h5>
                <p class="card-text">Team Suite, is a new-age Human Capital Management Solution combining the strengths of Cloud and Mobility.</p>
                
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img src="/assets/img/projects/project-2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CORNS POS</h5>
                <p class="card-text">CORN POS is a comprehensive point of sale system in Pakistan, it's Simple,
                    Quick & Scalable.</p>
                
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img src="/assets/img/projects/project-5-1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">HIMS (Health Care System)</h5>
                <p class="card-text">A patient registration system is used to maintain demographic information of
                    patients. </p>
                
              </div>
            </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card">
                <img src="/assets/img/projects/project-4-3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dashboard & Analytical Reports</h5>
                  <p class="card-text"> The system integrates with three hospital databases and supports multiple
                    databases within one application.</p>
                  
                </div>
              </div>
              <div class="card d-none d-md-block">
                <img src="/assets/img/projects/project-3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HIMS (Health Care System)</h5>
                  <p class="card-text"> A patient registration system is used to maintain demographic information of
                    patients.</p>
                  
                </div>
              </div>
              
            </div>
          </div>
        
        
        </div>
       </div>
</section> -->

<app-projects></app-projects>

<!-- <div class="container">
    <div class="row align-items-center" style="padding-top: 45px;">
        <div class="col-md-6 col-xl-6">
    
            <a routerLink="#" class="mil-link mil-mb-30"><span>View All Cases</span><i class="fas fa-arrow-right"></i></a>
    
        </div>
        <div class="col-md-6 col-xl-6">
    
            <div class="mil-adaptive-right">
                <a routerLink="/contact-us" class="mil-button mil-border mil-mb-30"><span>Get Started</span></a>
            </div>
    
        </div>
    </div>
</div> -->


<!-- how it works -->
<section class="mil-how-it-works mil-deep-bg mil-p-20">
    <div class="mil-deco reveal fade-left" style="top: 0; right: -70%;"></div>

    <div class="container padding-top">

        <span class="mil-suptitle mil-suptitle-2 mil-mb-30">Discover Our Company</span>
        <h2 class="mil-mb-9" style="padding-bottom: 25px;">How We <span class="mil-accent">Collaborate</span>
            With You</h2>
        <div class="row align-items-center">
            <div class="col-md-5 col-xl-5 reveal fade-left ">
                <h1 style="font-size: 24px;"> Agile</h1>
                <p class="mil-mb-30 justify-text">Our Agile process breaks down projects into manageable
                    sprints, allowing us to work efficiently and adapt quickly to evolving requirements. We
                    value transparency and clear communication, so you're always in the loop with regular
                    updates on our progress.</p>
                <h1 style="font-size: 24px;">Scrum</h1>
                <p class="mil-mb-30 justify-text">As part of our Agile framework, we implement Scrum, a specific
                    methodology that enhances team collaboration. With Scrum, we work together in time-boxed
                    sprints to deliver potentially shippable increments of your project</p>

            </div>
            <div class="col-md-7 col-xl-7 reveal fade-right">

                <div style="margin: auto; width: 58%;">
                    <img src="/assets/img/agile method-amico.png" alt="Agile-Methodology"
                        title="Densible-Agile-Methodology" srcset="" style="width: 100%;">
                </div>

            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 col-xl-6">

                <a routerLink="/blogs" class="mil-link mil-mb-30"><span>Learn More</span><i class="fas fa-arrow-right"></i></a>

            </div>
            <div class="col-md-6 col-xl-6">

                <div class="mil-adaptive-right">
                    <a routerLink="/about-us" class="mil-button mil-border mil-mb-30"><span>How We Work</span></a>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- how it works end -->

<!-- reviews -->
<app-review></app-review>
<!-- reviews end -->

